In [1]:
import pandas as pd
from tensorflow.keras.preprocessing.text import text_to_word_sequence
import re

In [2]:
gf = pd.read_csv("post_text6.csv")
gf

,Post,Title,Replies,Views,Comment#,Query,Contents,Len,Days,Link,visit,read,topic,posts,given,received,topic_c,post_c
0,1,About the Copter Logs -- deprecated category,1,1444,1,"Do not post here, please post in the *",You should probably change this,31,945,0,2,20m,9,23,0,0,1,2
1,2,Attention: Please download PIXHAWK logs from t...,0,2056,0,"In order to help users better, I need readable...",NaN,0,0,0,0,0,0,0,0,0,0,0
2,3,"Extracting pitch, roll & yaw data for image mo...",3,1136,1,"Aloha, I’m a grad student at the university of...",I’m interested in this as well. I’ll be doing...,278,1,0,0,< 1m,0,7,0,0,2,5
3,3,"Extracting pitch, roll & yaw data for image mo...",3,1136,2,"Aloha, I’m a grad student at the university of...",Did you figure out how/what logs to use to get...,79,172,0,131,10h,319,2.2k,0,0,6,11
4,3,"Extracting pitch, roll & yaw data for image mo...",3,1136,3,"Aloha, I’m a grad student at the university of...",I am having the same problems at the moment Ha...,183,2386,1,46,4h,71,553,0,0,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3466,888,Setting Throttle Mid,2,252,1,As mentioned in this link: * at what altitude ...,Not sure why you think altitude matters. Anyth...,105,0,0,1.3k,4d,1.4k,8.4k,19,144,106,1.3k
3467,888,Setting Throttle Mid,2,252,2,As mentioned in this link: * at what altitude ...,As they didn’t mentioned any altitude thats wh...,100,0,0,0,< 1m,0,16,0,0,6,10
3468,889,"3DR Y6 crash, failsafe RTL flip, logfile analy...",1,287,1,Hoping to get some expertise on deciphering my...,I should add that the copter is physically and...,704,2,0,32,3h,69,553,0,0,5,12
3469,890,Dataflash logging and performance,1,222,1,"Hello, I just read the documentation on datafl...","Hi bds, The easy way is simply to observe perf...",598,0,0,0,< 1m,0,101,0,0,4,97
3470,891,Log Bitmask value of 1470,1,413,1,I was just wondering if anyone could tell me h...,"Well, I actually got it working well. I ju...",262,1,0,0,< 1m,0,4,0,0,2,2

In [3]:
gf = gf.dropna(axis=0)
numlist = list(range(len(gf)))
gf = gf.set_index(pd.Index(numlist))
gf

,Post,Title,Replies,Views,Comment#,Query,Contents,Len,Days,Link,visit,read,topic,posts,given,received,topic_c,post_c
0,1,About the Copter Logs -- deprecated category,1,1444,1,"Do not post here, please post in the *",You should probably change this,31,945,0,2,20m,9,23,0,0,1,2
1,3,"Extracting pitch, roll & yaw data for image mo...",3,1136,1,"Aloha, I’m a grad student at the university of...",I’m interested in this as well. I’ll be doing...,278,1,0,0,< 1m,0,7,0,0,2,5
2,3,"Extracting pitch, roll & yaw data for image mo...",3,1136,2,"Aloha, I’m a grad student at the university of...",Did you figure out how/what logs to use to get...,79,172,0,131,10h,319,2.2k,0,0,6,11
3,3,"Extracting pitch, roll & yaw data for image mo...",3,1136,3,"Aloha, I’m a grad student at the university of...",I am having the same problems at the moment Ha...,183,2386,1,46,4h,71,553,0,0,2,6
4,4,Would like to know about PID tuning of drones ...,1,812,1,I would like to know more about PID. The math ...,You might be able to find PID tuning videos on...,310,2233,1,2,13m,9,36,0,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3356,888,Setting Throttle Mid,2,252,1,As mentioned in this link: * at what altitude ...,Not sure why you think altitude matters. Anyth...,105,0,0,1.3k,4d,1.4k,8.4k,19,144,106,1.3k
3357,888,Setting Throttle Mid,2,252,2,As mentioned in this link: * at what altitude ...,As they didn’t mentioned any altitude thats wh...,100,0,0,0,< 1m,0,16,0,0,6,10
3358,889,"3DR Y6 crash, failsafe RTL flip, logfile analy...",1,287,1,Hoping to get some expertise on deciphering my...,I should add that the copter is physically and...,704,2,0,32,3h,69,553,0,0,5,12
3359,890,Dataflash logging and performance,1,222,1,"Hello, I just read the documentation on datafl...","Hi bds, The easy way is simply to observe perf...",598,0,0,0,< 1m,0,101,0,0,4,97
3360,891,Log Bitmask value of 1470,1,413,1,I was just wondering if anyone could tell me h...,"Well, I actually got it working well. I ju...",262,1,0,0,< 1m,0,4,0,0,2,2

In [4]:
# if clean label -> Match = '1', otherwise, Match = '0'
gf.loc[:1096, "Match"] = '1'
gf[:1098]

,Post,Title,Replies,Views,Comment#,Query,Contents,Len,Days,Link,visit,read,topic,posts,given,received,topic_c,post_c,Match
0,1,About the Copter Logs -- deprecated category,1,1444,1,"Do not post here, please post in the *",You should probably change this,31,945,0,2,20m,9,23,0,0,1,2,1
1,3,"Extracting pitch, roll & yaw data for image mo...",3,1136,1,"Aloha, I’m a grad student at the university of...",I’m interested in this as well. I’ll be doing...,278,1,0,0,< 1m,0,7,0,0,2,5,1
2,3,"Extracting pitch, roll & yaw data for image mo...",3,1136,2,"Aloha, I’m a grad student at the university of...",Did you figure out how/what logs to use to get...,79,172,0,131,10h,319,2.2k,0,0,6,11,1
3,3,"Extracting pitch, roll & yaw data for image mo...",3,1136,3,"Aloha, I’m a grad student at the university of...",I am having the same problems at the moment Ha...,183,2386,1,46,4h,71,553,0,0,2,6,1
4,4,Would like to know about PID tuning of drones ...,1,812,1,I would like to know more about PID. The math ...,You might be able to find PID tuning videos on...,310,2233,1,2,13m,9,36,0,1,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1093,299,AltHold not responding,2,459,2,Hello! My hexa is no longer holding altitude i...,* Sent using Tapatalk,21,19,1,3,7m,4,123,0,0,16,92,1
1094,300,Crash log analyis help!,3,570,1,Had a nice crash earlier today. Looking at the...,FPV Video of crash. [youtube]*,30,1,1,0,< 1m,0,11,0,0,4,7,1
1095,300,Crash log analyis help!,3,570,2,Had a nice crash earlier today. Looking at the...,Attached TLOG of flight too,27,1,0,0,< 1m,0,11,0,0,4,7,1
1096,300,Crash log analyis help!,3,570,3,Had a nice crash earlier today. Looking at the...,I think i found the issue. the back right mott...,74,1,0,0,< 1m,0,11,0,0,4,7,1
1097,301,Need help on log analysis w crash,6,647,1,Hi all I really need your help trying to under...,I just noticed that at index 93810 all RC out ...,233,1,0,14,1h,26,218,0,0,8,14,NaN

In [5]:
#  Noisy label -> '0'
I=[10,11,14,22,27,29,34,36,37,38,39,40,41,42,43,44,45,46,48,50,53,62,63,64,66,68,69,70,72,74,76,78,82,83,86,92,94,102,
   103,107,112,114,116,117,125,144,145,146,148,149,150,158,163,167,171,173,180,182,185,186,194,196,197,209,210,212,213,
   214,219,224,232,238,242,246,247,250,252,255,261,264,267,277,278,281,283,286,287,293,295,303,307,312,314,316,318,319,
   321,322,323,324,329,332,336,341,343,349,352,354,357,358,360,361,362,365,366,367,369,374,380,385,388,390,392,397,400,
   403,404,406,407,412,416,417,420,423,432,435,437,439,441,447,448,453,459,460,464,467,473,476,477,478,483,485,488,491,
   492,494,495,504,505,507,510,511,512,514,516,521,525,526,529,532,534,536,539,542,543,546,547,549,551,552,553,561,569,
   570,573,577,578,581,583,586,589,594,595,596,598,602,603,604,605,606,607,608,614,619,621,622,624,627,630,635,641,644,
   647,654,655,657,658,659,660,661,671,674,677,681,683,689,690,691,692,699,700,704,705,709,711,723,724,727,730,736,737,
   739,740,744,746,749,761,763,766,767,768,770,776,777,780,783,784,786,788,789,793,797,799,800,802,805,807,809,810,813,
   819,821,826,828,829,835,837,839,843,846,854,855,862,863,870,873,876,878,879,881,882,883,884,886,891,893,895,897,898,
   899,900,902,903,911,912,916,920,928,931,936,938,940,942,959,963,966,970,971,974,976,979,982,984,987,988,990,994,997,
   1005,1006,1013,1024,1026,1027,1029,1031,1035,1036,1038,1043,1045,1050,1053,1055,1061,1065,1069,1070,1073,1077,1079,
   1080,1081,1082,1086,1088,1089,1094,1095,1096]

L = []
for i in range(1, 1098):
    if i in I: L.append('0')
    else: L.append('1')

for j in range(1097):
    gf.iloc[j,-1] = L[j]
gf[:1097]

,Post,Title,Replies,Views,Comment#,Query,Contents,Len,Days,Link,visit,read,topic,posts,given,received,topic_c,post_c,Match
0,1,About the Copter Logs -- deprecated category,1,1444,1,"Do not post here, please post in the *",You should probably change this,31,945,0,2,20m,9,23,0,0,1,2,1
1,3,"Extracting pitch, roll & yaw data for image mo...",3,1136,1,"Aloha, I’m a grad student at the university of...",I’m interested in this as well. I’ll be doing...,278,1,0,0,< 1m,0,7,0,0,2,5,1
2,3,"Extracting pitch, roll & yaw data for image mo...",3,1136,2,"Aloha, I’m a grad student at the university of...",Did you figure out how/what logs to use to get...,79,172,0,131,10h,319,2.2k,0,0,6,11,1
3,3,"Extracting pitch, roll & yaw data for image mo...",3,1136,3,"Aloha, I’m a grad student at the university of...",I am having the same problems at the moment Ha...,183,2386,1,46,4h,71,553,0,0,2,6,1
4,4,Would like to know about PID tuning of drones ...,1,812,1,I would like to know more about PID. The math ...,You might be able to find PID tuning videos on...,310,2233,1,2,13m,9,36,0,1,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,299,AltHold not responding,2,459,1,Hello! My hexa is no longer holding altitude i...,I probably found it! It’s a problem I didn’t s...,301,18,0,3,7m,4,123,0,0,16,92,1
1093,299,AltHold not responding,2,459,2,Hello! My hexa is no longer holding altitude i...,* Sent using Tapatalk,21,19,1,3,7m,4,123,0,0,16,92,0
1094,300,Crash log analyis help!,3,570,1,Had a nice crash earlier today. Looking at the...,FPV Video of crash. [youtube]*,30,1,1,0,< 1m,0,11,0,0,4,7,0
1095,300,Crash log analyis help!,3,570,2,Had a nice crash earlier today. Looking at the...,Attached TLOG of flight too,27,1,0,0,< 1m,0,11,0,0,4,7,0
1096,300,Crash log analyis help!,3,570,3,Had a nice crash earlier today. Looking at the...,I think i found the issue. the back right mott...,74,1,0,0,< 1m,0,11,0,0,4,7,1

In [6]:
# Labeling(helpful)
gf.loc[:1096, "Label"] = '0'

# Correct of Helpful(MODE(Doheon,Paul,John), 649)
I=[ # Train data
   5,6,8,9,13,14,15,16,20,21,23,25,27,30,32,34,36,38,40,42,44,46,48,49,50,51,52,53,54,55,
   57,58,59,60,62,63,66,68,69,70,76,78,80,81,83,84,85,86,90,91,92,93,94,95,96,99,102,104,106,107,
   108,109,110,111,112,113,116,117,119,120,122,125,129,130,131,132,134,135,138,140,144,147,149,150,151,153,154,164,165,166,
   168,169,170,173,175,177,179,184,186,188,191,193,194,195,196,198,200,202,204,205,206,207,208,209,211,212,213,216,219,220,
   223,225,226,228,231,234,236,237,238,239,240,241,242,243,245,248,249,250,251,252,253,254,256,257,258,260,261,262,265,266,
   272,273,275,276,277,278,280,282,283,284,285,286,287,288,289,290,291,292,293,294,296,298,300,302,308,310,313,317,319,325,
   327,332,334,339,340,341,342,344,347,350,351,352,355,356,358,359,363,364,365,366,367,368,370,371,372,373,374,375,376,377,
   379,380,381,382,384,387,390,391,392,394,396,397,399,400,401,403,405,406,408,410,411,413,414,415,416,418,419,420,422,423,
   424,426,427,428,429,430,431,433,434,435,437,438,440,442,443,444,445,447,449,450,451,452,453,454,455,456,460,462,463,468,
   469,471,473,475,476,479,481,482,483,484,486,487,489,490,491,492,494,495,498,499,501,502,506,508,510,511,516,517,519,520,
   523,525,526,527,528,530,531,533,534,535,536,537,540,541,544,545,546,547,549,552,554,556,558,559,561,562,563,564,565,566,
   567,569,570,572,574,576,578,580,581,584,585,587,588,589,590,591,593,594,595,596,597,598,599,602,603,604,605,606,607,608,
   609,611,612,613,615,617,618,620,621,623,628,633,634,636,638,640,642,649,651,655,660,661,662,664,665,666,667,668,669,672,
   674,676,679,680,682,684,686,687,688,691,692,693,694,695,696,698,699,700,701,702,704,705,706,707,709,710,711,712,714,715,
   718,719,720,722,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,741,742,745,746,747,748,749,750,752,756,
   757,758,761,762,764,766,767,769,770,771,772,773,775,776,777,778,780,782,785,786,787,788,790,791,792,794,795,797,799,800,
   801,802,803,804,805,806,808,809,811,812,814,815,816,817,818,819,820,822,824,825,827,828,830,831,833,834,835,836,837,838,
   839,840,841,842,843,846,849,850,851,852,853,855,859,860,862,865,866,871,872,874,877,
   
   # Test data 
   878,879,880,883,885,886,887,888,890,891,892,893,897,901,902,903,904,905,906,907,910,912,913,921,922,923,924,925,926,927,
   929,930,931,934,936,937,939,940,944,946,947,948,950,953,954,955,957,959,960,961,962,963,964,965,968,969,970,971,978,979,
   981,982,983,989,993,994,996,997,999,1002,1003,1004,1006,1008,1009,1015,1016,1018,1019,1020,1021,1024,1025,1030,1032,
   1036,1038,1039,1040,1041,1044,1046,1047,1050,1057,1059,1060,1062,1064,1066,1067,1071,1072,1074,1078,1081,1082,1083,
   1084,1085,1087,1088,1090,1091,1092,1093,1094,1097]


L = []
for i in range(1, 1098):
    if i in I: L.append('1')
    else: L.append('0')
#     print(i, L[i-1])
# print(L)

for j in range(1097):
    gf.iloc[j,-1] = L[j]
gf[:1097]

,Post,Title,Replies,Views,Comment#,Query,Contents,Len,Days,Link,visit,read,topic,posts,given,received,topic_c,post_c,Match,Label
0,1,About the Copter Logs -- deprecated category,1,1444,1,"Do not post here, please post in the *",You should probably change this,31,945,0,2,20m,9,23,0,0,1,2,1,0
1,3,"Extracting pitch, roll & yaw data for image mo...",3,1136,1,"Aloha, I’m a grad student at the university of...",I’m interested in this as well. I’ll be doing...,278,1,0,0,< 1m,0,7,0,0,2,5,1,0
2,3,"Extracting pitch, roll & yaw data for image mo...",3,1136,2,"Aloha, I’m a grad student at the university of...",Did you figure out how/what logs to use to get...,79,172,0,131,10h,319,2.2k,0,0,6,11,1,0
3,3,"Extracting pitch, roll & yaw data for image mo...",3,1136,3,"Aloha, I’m a grad student at the university of...",I am having the same problems at the moment Ha...,183,2386,1,46,4h,71,553,0,0,2,6,1,0
4,4,Would like to know about PID tuning of drones ...,1,812,1,I would like to know more about PID. The math ...,You might be able to find PID tuning videos on...,310,2233,1,2,13m,9,36,0,1,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,299,AltHold not responding,2,459,1,Hello! My hexa is no longer holding altitude i...,I probably found it! It’s a problem I didn’t s...,301,18,0,3,7m,4,123,0,0,16,92,1,1
1093,299,AltHold not responding,2,459,2,Hello! My hexa is no longer holding altitude i...,* Sent using Tapatalk,21,19,1,3,7m,4,123,0,0,16,92,0,1
1094,300,Crash log analyis help!,3,570,1,Had a nice crash earlier today. Looking at the...,FPV Video of crash. [youtube]*,30,1,1,0,< 1m,0,11,0,0,4,7,0,0
1095,300,Crash log analyis help!,3,570,2,Had a nice crash earlier today. Looking at the...,Attached TLOG of flight too,27,1,0,0,< 1m,0,11,0,0,4,7,0,0
1096,300,Crash log analyis help!,3,570,3,Had a nice crash earlier today. Looking at the...,I think i found the issue. the back right mott...,74,1,0,0,< 1m,0,11,0,0,4,7,1,1

In [7]:
# Clean '1', Noisy '0'
gf['Match'].value_counts()

1    737
0    360
Name: Match, dtype: int64

In [8]:
Z=[]
for i in range(1,301):
    z=[]
    Q=gf[gf['Post']==i][['Post','Match']]
    if list(Q['Post']).count(i) != 0:
#         print(i, list(Q['Match']).count('1')/list(Q['Post']).count(i) )
        z.append(i)
        z.append(list(Q['Match']).count('1')/list(Q['Post']).count(i))
        z.append(list(Q['Post']).count(i))
    else: 
#         print(i,0)
        z.append(i)
        z.append(0)
        z.append(list(Q['Post']).count(i))
    Z.append(z)
Z

[[1, 1.0, 1],
 [2, 0, 0],
 [3, 1.0, 3],
 [4, 1.0, 1],
 [5, 0.8, 15],
 [6, 0.6666666666666666, 3],
 [7, 1.0, 3],
 [8, 0.3181818181818182, 22],
 [9, 0.75, 8],
 [10, 0.5833333333333334, 12],
 [11, 0.42857142857142855, 7],
 [12, 0.6428571428571429, 14],
 [13, 0.7, 30],
 [14, 0.8888888888888888, 9],
 [15, 1.0, 8],
 [16, 0.7777777777777778, 9],
 [17, 0.6363636363636364, 11],
 [18, 0.75, 4],
 [19, 0.7272727272727273, 11],
 [20, 1.0, 1],
 [21, 0.7272727272727273, 11],
 [22, 0.5, 4],
 [23, 1.0, 6],
 [24, 0.5, 2],
 [25, 0.6666666666666666, 24],
 [26, 1.0, 3],
 [27, 0.8571428571428571, 7],
 [28, 1.0, 1],
 [29, 0.5, 2],
 [30, 0.875, 8],
 [31, 0.75, 4],
 [32, 0.5, 2],
 [33, 0.5, 2],
 [34, 1.0, 1],
 [35, 0.0, 1],
 [36, 0, 0],
 [37, 0.75, 4],
 [38, 0.6666666666666666, 3],
 [39, 1.0, 3],
 [40, 0.0, 1],
 [41, 0.7619047619047619, 21],
 [42, 0, 0],
 [43, 0.6666666666666666, 9],
 [44, 0.5, 2],
 [45, 0.5, 2],
 [46, 1.0, 6],
 [47, 1.0, 1],
 [48, 0.0, 1],
 [49, 0, 0],
 [50, 0, 0],
 [51, 0.7777777777777778, 9],
 [52, 0.5, 2],
 [53, 0.5, 4],
 [54, 0, 0],
 [55, 0.5, 2],
 [56, 0.42857142857142855, 7],
 [57, 0.7272727272727273, 11],
 [58, 1.0, 2],
 [59, 0.3333333333333333, 3],
 [60, 0.7692307692307693, 13],
 [61, 0.2, 5],
 [62, 0.375, 8],
 [63, 0.8571428571428571, 7],
 [64, 0.75, 4],
 [65, 0, 0],
 [66, 1.0, 4],
 [67, 0.0, 1],
 [68, 1.0, 1],
 [69, 0.6428571428571429, 14],
 [70, 0, 0],
 [71, 0, 0],
 [72, 0, 0],
 [73, 1.0, 1],
 [74, 0.6111111111111112, 18],
 [75, 0.7222222222222222, 18],
 [76, 0.6666666666666666, 6],
 [77, 0.7692307692307693, 13],
 [78, 0, 0],
 [79, 1.0, 1],
 [80, 0.3333333333333333, 3],
 [81, 1.0, 2],
 [82, 0.5, 2],
 [83, 0, 0],
 [84, 0.75, 4],
 [85, 0.8571428571428571, 7],
 [86, 0.25, 4],
 [87, 0, 0],
 [88, 1.0, 2],
 [89, 0.65, 20],
 [90, 1.0, 2],
 [91, 0.5, 6],
 [92, 0.4444444444444444, 9],
 [93, 0, 0],
 [94, 0.6363636363636364, 11],
 [95, 0, 0],
 [96, 0.75, 4],
 [97, 0.5555555555555556, 9],
 [98, 0.6521739130434783, 23],
 [99, 0, 0],
 [100, 0.7272727272727273, 11],
 [101, 0.5, 4],
 [102, 0.3333333333333333, 3],
 [103, 0, 0],
 [104, 1.0, 1],
 [105, 0.6666666666666666, 6],
 [106, 0.75, 4],
 [107, 0.2857142857142857, 14],
 [108, 1.0, 4],
 [109, 0.5, 2],
 [110, 0, 0],
 [111, 1.0, 2],
 [112, 0.5, 6],
 [113, 0.6666666666666666, 3],
 [114, 0.6666666666666666, 6],
 [115, 1.0, 1],
 [116, 1.0, 1],
 [117, 0.75, 8],
 [118, 0, 0],
 [119, 0.7777777777777778, 9],
 [120, 0.75, 4],
 [121, 0.5, 2],
 [122, 0.6, 15],
 [123, 0, 0],
 [124, 0, 0],
 [125, 0.75, 4],
 [126, 0.6666666666666666, 3],
 [127, 0.6, 5],
 [128, 0, 0],
 [129, 1.0, 2],
 [130, 1.0, 2],
 [131, 0, 0],
 [132, 0.6, 10],
 [133, 0.5, 8],
 [134, 1.0, 3],
 [135, 0.0, 1],
 [136, 0.8, 5],
 [137, 1.0, 5],
 [138, 0.75, 4],
 [139, 0.6, 5],
 [140, 0.6666666666666666, 3],
 [141, 0, 0],
 [142, 0, 0],
 [143, 1.0, 4],
 [144, 0, 0],
 [145, 0.25, 4],
 [146, 0.6666666666666666, 3],
 [147, 0.6666666666666666, 3],
 [148, 0.5, 4],
 [149, 1.0, 2],
 [150, 0, 0],
 [151, 0, 0],
 [152, 1.0, 5],
 [153, 1.0, 4],
 [154, 0, 0],
 [155, 0.0, 1],
 [156, 0.75, 4],
 [157, 0.0, 2],
 [158, 0.0, 1],
 [159, 0, 0],
 [160, 0.5, 2],
 [161, 1.0, 1],
 [162, 0, 0],
 [163, 1.0, 3],
 [164, 0.5, 6],
 [165, 0, 0],
 [166, 0.5, 4],
 [167, 0.5714285714285714, 7],
 [168, 0, 0],
 [169, 0.625, 8],
 [170, 0, 0],
 [171, 0.0, 1],
 [172, 0.5714285714285714, 7],
 [173, 0.5, 4],
 [174, 0, 0],
 [175, 0.6666666666666666, 3],
 [176, 0, 0],
 [177, 1.0, 1],
 [178, 0.75, 4],
 [179, 0.8, 5],
 [180, 0.6666666666666666, 3],
 [181, 0.3333333333333333, 3],
 [182, 1.0, 3],
 [183, 0.6, 10],
 [184, 0, 0],
 [185, 0, 0],
 [186, 1.0, 2],
 [187, 0, 0],
 [188, 0.5, 2],
 [189, 1.0, 1],
 [190, 1.0, 2],
 [191, 0.75, 4],
 [192, 0, 0],
 [193, 0.5, 2],
 [194, 0.8333333333333334, 6],
 [195, 0.5, 2],
 [196, 1.0, 2],
 [197, 0.8, 5],
 [198, 0.75, 4],
 [199, 0, 0],
 [200, 0.5, 2],
 [201, 0, 0],
 [202, 0.25, 4],
 [203, 0.42857142857142855, 7],
 [204, 1.0, 1],
 [205, 0, 0],
 [206, 0.5, 2],
 [207, 0.36363636363636365, 11],
 [208, 0.0, 1],
 [209, 0, 0],
 [210, 1.0, 4],
 [211, 0, 0],
 [212, 1.0, 1],
 [213, 0, 0],
 [214, 0.6923076923076923, 13],
 [215, 0, 0],
 [216, 0, 0],
 [217, 1.0, 1],
 [218, 1.0, 4],
 [219, 0.75, 4],
 [220, 0.5, 2],
 [221, 1.0, 2],
 [222, 1.0, 1],
 [223, 0.4, 5],
 [224, 0.5, 2],
 [225, 1.0, 1],
 [226, 1.0, 2],
 [227, 1.0, 2],
 [228, 1.0, 1],
 [229, 0, 0],
 [230, 1.0, 2],
 [231, 1.0, 1],
 [232, 0.8888888888888888, 9],
 [233, 0, 0],
 [234, 1.0, 2],
 [235, 0, 0],
 [236, 0.0, 1],
 [237, 0, 0],
 [238, 0.625, 8],
 [239, 0.6666666666666666, 12],
 [240, 0.5, 6],
 [241, 0, 0],
 [242, 0, 0],
 [243, 0.5, 2],
 [244, 1.0, 1],
 [245, 1.0, 1],
 [246, 0.0, 1],
 [247, 0.6666666666666666, 3],
 [248, 1.0, 1],
 [249, 1.0, 1],
 [250, 1.0, 2],
 [251, 1.0, 3],
 [252, 0.0, 1],
 [253, 0.0, 1],
 [254, 1.0, 1],
 [255, 1.0, 2],
 [256, 0, 0],
 [257, 1.0, 1],
 [258, 1.0, 1],
 [259, 0, 0],
 [260, 0.5, 2],
 [261, 1.0, 1],
 [262, 1.0, 1],
 [263, 1.0, 3],
 [264, 1.0, 3],
 [265, 0.6666666666666666, 3],
 [266, 1.0, 1],
 [267, 0.0, 2],
 [268, 0.5, 2],
 [269, 0.6666666666666666, 3],
 [270, 0, 0],
 [271, 0.5, 4],
 [272, 0, 0],
 [273, 1.0, 1],
 [274, 0.6666666666666666, 3],
 [275, 1.0, 1],
 [276, 0.6666666666666666, 9],
 [277, 1.0, 1],
 [278, 0.5, 2],
 [279, 1.0, 1],
 [280, 0, 0],
 [281, 0.5, 2],
 [282, 0.8, 5],
 [283, 1.0, 3],
 [284, 0, 0],
 [285, 0, 0],
 [286, 0.0, 1],
 [287, 1.0, 2],
 [288, 0.5714285714285714, 7],
 [289, 1.0, 1],
 [290, 0.6666666666666666, 3],
 [291, 0.3333333333333333, 6],
 [292, 0, 0],
 [293, 0.5, 2],
 [294, 0, 0],
 [295, 0, 0],
 [296, 0, 0],
 [297, 0, 0],
 [298, 0.6666666666666666, 6],
 [299, 0.5, 2],
 [300, 0.3333333333333333, 3]]

In [99]:
import pandas as pd
H=pd.DataFrame(Z, columns=['Post','Rate','Count'])
H

     Post      Rate  Count
0       1  1.000000      1
1       2  0.000000      0
2       3  1.000000      3
3       4  1.000000      1
4       5  0.800000     15
..    ...       ...    ...
295   296  0.000000      0
296   297  0.000000      0
297   298  0.666667      6
298   299  0.500000      2
299   300  0.333333      3

[300 rows x 3 columns]

In [10]:
C=pd.DataFrame(Z, columns=['Thread','C_Level','Comment'])
C

     Thread   C_Level  Comment
0         1  1.000000        1
1         2  0.000000        0
2         3  1.000000        3
3         4  1.000000        1
4         5  0.800000       15
..      ...       ...      ...
295     296  0.000000        0
296     297  0.000000        0
297     298  0.666667        6
298     299  0.500000        2
299     300  0.333333        3

[300 rows x 3 columns]

In [11]:
C=C.sort_values(by='C_Level', ascending=False)
C

     Thread  C_Level  Comment
0         1      1.0        1
136     137      1.0        5
133     134      1.0        3
250     251      1.0        3
129     130      1.0        2
..      ...      ...      ...
154     155      0.0        1
156     157      0.0        2
236     237      0.0        0
235     236      0.0        1
150     151      0.0        0

[300 rows x 3 columns]

# Split 3 and 4

In [12]:
H=H.sort_values(by='Rate', ascending=False) # Split 3
H

# H=H.sort_values(by='Rate', ascending=True)   # Split 4
# H

     Post  Rate  Count
0       1   1.0      1
136   137   1.0      5
133   134   1.0      3
250   251   1.0      3
129   130   1.0      2
..    ...   ...    ...
154   155   0.0      1
156   157   0.0      2
236   237   0.0      0
235   236   0.0      1
150   151   0.0      0

[300 rows x 3 columns]

In [129]:
for i in range(1,301):
    U=sum(list(H['Count'][:i]))
    print("percentage of train data: ", U/1097)
    # train
    R=H[:i]
    # test
    S=H[i:]
    RL=list(R['Post'].sort_values())
    print(len(RL))
    SL=list(S['Post'].sort_values())
    print(len(SL))
    init1=0
    for r in RL:
        W=gf[gf['Post']==r][['Label']]
        init1 += list(W['Label']).count('1')
    print(init1)
    init2=0
    for r in RL:
        W=gf[gf['Post']==r][['Label']]
        init2 += list(W['Label']).count('0')
    print(init2)
    init3=0
    for s in SL:
        W=gf[gf['Post']==s][['Label']]
        init3 += list(W['Label']).count('1')
    print(init3)
    init4=0
    for s in SL:
        W=gf[gf['Post']==s][['Label']]
        init4 += list(W['Label']).count('0')
    print(init4)
    if (init1+init2) == 0:
        print(0)
    else:    print(init1/(init1+init2)) # rate of '1' in train data
    if (init3+init4) == 0:
        print(0)
    else:    print(init3/(init3+init4)) # rate of '1' in test data
    print('*'*100)

percentage of train data:  0.0009115770282588879
1
299
0
1
649
447
0.0
0.5921532846715328
****************************************************************************************************
percentage of train data:  0.0036463081130355514
2
298
2
2
647
446
0.5
0.5919487648673376
****************************************************************************************************
percentage of train data:  0.0054694621695533276
3
297
3
3

KeyboardInterrupt:

In [13]:
v=154  # Split 3 

# v=201 # Split 4

In [14]:
U=sum(list(H['Count'][:v]))
U

782

In [15]:
U/1097  # percentage of train data

0.7128532360984503

In [16]:
# train
R=H[:v]
# test
S=H[v:]

In [17]:
# train thread#
RL=list(R['Post'].sort_values())
print(len(RL),RL)

154 [1, 3, 4, 5, 6, 7, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 25, 26, 27, 28, 30, 31, 34, 37, 38, 39, 41, 43, 46, 47, 51, 57, 58, 60, 63, 64, 66, 68, 69, 73, 74, 75, 76, 77, 79, 81, 84, 85, 88, 89, 90, 94, 96, 98, 100, 104, 105, 106, 108, 111, 113, 114, 115, 116, 117, 119, 120, 122, 125, 126, 127, 129, 130, 132, 134, 136, 137, 138, 140, 143, 146, 147, 149, 152, 153, 156, 161, 163, 169, 175, 177, 178, 179, 180, 182, 186, 189, 190, 191, 194, 196, 197, 198, 204, 210, 212, 214, 217, 218, 219, 221, 222, 225, 226, 227, 228, 230, 231, 232, 234, 238, 239, 244, 245, 247, 248, 249, 250, 251, 254, 255, 257, 258, 261, 262, 263, 264, 265, 266, 269, 273, 274, 275, 276, 277, 279, 282, 283, 287, 289, 290, 298]

In [18]:
# test thread#
SL=list(S['Post'].sort_values())
print(len(SL),SL)

146 [2, 8, 10, 11, 22, 24, 29, 32, 33, 35, 36, 40, 42, 44, 45, 48, 49, 50, 52, 53, 54, 55, 56, 59, 61, 62, 65, 67, 70, 71, 72, 78, 80, 82, 83, 86, 87, 91, 92, 93, 95, 97, 99, 101, 102, 103, 107, 109, 110, 112, 118, 121, 123, 124, 128, 131, 133, 135, 139, 141, 142, 144, 145, 148, 150, 151, 154, 155, 157, 158, 159, 160, 162, 164, 165, 166, 167, 168, 170, 171, 172, 173, 174, 176, 181, 183, 184, 185, 187, 188, 192, 193, 195, 199, 200, 201, 202, 203, 205, 206, 207, 208, 209, 211, 213, 215, 216, 220, 223, 224, 229, 233, 235, 236, 237, 240, 241, 242, 243, 246, 252, 253, 256, 259, 260, 267, 268, 270, 271, 272, 278, 280, 281, 284, 285, 286, 288, 291, 292, 293, 294, 295, 296, 297, 299, 300]

In [21]:
t=pd.DataFrame(H["Rate"].value_counts()).sort_index(ascending=False)  # clean ration of all threads
t

          Rate
1.000000    78
0.888889     2
0.875000     1
0.857143     3
0.833333     1
0.800000     5
0.777778     3
0.769231     2
0.761905     1
0.750000    17
0.727273     4
0.722222     1
0.700000     1
0.692308     1
0.666667    22
0.652174     1
0.650000     1
0.642857     2
0.636364     2
0.625000     2
0.611111     1
0.600000     5
0.583333     1
0.571429     3
0.555556     1
0.500000    38
0.444444     1
0.428571     3
0.400000     1
0.375000     1
0.363636     1
0.333333     6
0.318182     1
0.285714     1
0.250000     3
0.200000     1
0.000000    82

In [22]:
y=pd.DataFrame(R["Rate"].value_counts()).sort_index(ascending=False)  # clean ration of training threads
y

          Rate
1.000000    78
0.888889     2
0.875000     1
0.857143     3
0.833333     1
0.800000     5
0.777778     3
0.769231     2
0.761905     1
0.750000    17
0.727273     4
0.722222     1
0.700000     1
0.692308     1
0.666667    22
0.652174     1
0.650000     1
0.642857     2
0.636364     2
0.625000     2
0.611111     1
0.600000     3

In [23]:
u=pd.DataFrame(S["Rate"].value_counts()).sort_index(ascending=False)  # clean ration of test threads
u

          Rate
0.600000     2
0.583333     1
0.571429     3
0.555556     1
0.500000    38
0.444444     1
0.428571     3
0.400000     1
0.375000     1
0.363636     1
0.333333     6
0.318182     1
0.285714     1
0.250000     3
0.200000     1
0.000000    82

In [24]:
pd.concat([t,y,u], axis=1)  # clean ratios // Total, training, test

          Rate  Rate  Rate
1.000000    78  78.0   NaN
0.888889     2   2.0   NaN
0.875000     1   1.0   NaN
0.857143     3   3.0   NaN
0.833333     1   1.0   NaN
0.800000     5   5.0   NaN
0.777778     3   3.0   NaN
0.769231     2   2.0   NaN
0.761905     1   1.0   NaN
0.750000    17  17.0   NaN
0.727273     4   4.0   NaN
0.722222     1   1.0   NaN
0.700000     1   1.0   NaN
0.692308     1   1.0   NaN
0.666667    22  22.0   NaN
0.652174     1   1.0   NaN
0.650000     1   1.0   NaN
0.642857     2   2.0   NaN
0.636364     2   2.0   NaN
0.625000     2   2.0   NaN
0.611111     1   1.0   NaN
0.600000     5   3.0   2.0
0.583333     1   NaN   1.0
0.571429     3   NaN   3.0
0.555556     1   NaN   1.0
0.500000    38   NaN  38.0
0.444444     1   NaN   1.0
0.428571     3   NaN   3.0
0.400000     1   NaN   1.0
0.375000     1   NaN   1.0
0.363636     1   NaN   1.0
0.333333     6   NaN   6.0
0.318182     1   NaN   1.0
0.285714     1   NaN   1.0
0.250000     3   NaN   3.0
0.200000     1   NaN   1.0
0.000000    82   NaN  82.0

In [25]:
# label '1' in train
init1=0
for r in RL:
    W=gf[gf['Post']==r][['Label']]
    init1 += list(W['Label']).count('1')
init1

464

In [26]:
# label '0' in train
init2=0
for r in RL:
    W=gf[gf['Post']==r][['Label']]
    init2 += list(W['Label']).count('0')
init2

318

In [27]:
# label '1' in test
init3=0
for s in SL:
    W=gf[gf['Post']==s][['Label']]
    init3 += list(W['Label']).count('1')
init3

185

In [28]:
# label '0' in test
init4=0
for s in SL:
    W=gf[gf['Post']==s][['Label']]
    init4 += list(W['Label']).count('0')
init4

130

In [29]:
init1/(init1+init2) # rate of '1' in train data

0.5933503836317136

In [30]:
init3/(init3+init4) # rate of '1' in test data

0.5873015873015873

In [31]:
# train thread#
RL=list(R['Post'].sort_values())
print(len(RL),RL)

154 [1, 3, 4, 5, 6, 7, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 25, 26, 27, 28, 30, 31, 34, 37, 38, 39, 41, 43, 46, 47, 51, 57, 58, 60, 63, 64, 66, 68, 69, 73, 74, 75, 76, 77, 79, 81, 84, 85, 88, 89, 90, 94, 96, 98, 100, 104, 105, 106, 108, 111, 113, 114, 115, 116, 117, 119, 120, 122, 125, 126, 127, 129, 130, 132, 134, 136, 137, 138, 140, 143, 146, 147, 149, 152, 153, 156, 161, 163, 169, 175, 177, 178, 179, 180, 182, 186, 189, 190, 191, 194, 196, 197, 198, 204, 210, 212, 214, 217, 218, 219, 221, 222, 225, 226, 227, 228, 230, 231, 232, 234, 238, 239, 244, 245, 247, 248, 249, 250, 251, 254, 255, 257, 258, 261, 262, 263, 264, 265, 266, 269, 273, 274, 275, 276, 277, 279, 282, 283, 287, 289, 290, 298]

In [32]:
# test thread#
SL=list(S['Post'].sort_values())
print(len(SL),SL)

146 [2, 8, 10, 11, 22, 24, 29, 32, 33, 35, 36, 40, 42, 44, 45, 48, 49, 50, 52, 53, 54, 55, 56, 59, 61, 62, 65, 67, 70, 71, 72, 78, 80, 82, 83, 86, 87, 91, 92, 93, 95, 97, 99, 101, 102, 103, 107, 109, 110, 112, 118, 121, 123, 124, 128, 131, 133, 135, 139, 141, 142, 144, 145, 148, 150, 151, 154, 155, 157, 158, 159, 160, 162, 164, 165, 166, 167, 168, 170, 171, 172, 173, 174, 176, 181, 183, 184, 185, 187, 188, 192, 193, 195, 199, 200, 201, 202, 203, 205, 206, 207, 208, 209, 211, 213, 215, 216, 220, 223, 224, 229, 233, 235, 236, 237, 240, 241, 242, 243, 246, 252, 253, 256, 259, 260, 267, 268, 270, 271, 272, 278, 280, 281, 284, 285, 286, 288, 291, 292, 293, 294, 295, 296, 297, 299, 300]

# Split 5

In [80]:
# Original H, before sorting
H

     Post      Rate  Count
0       1  1.000000      1
1       2  0.000000      0
2       3  1.000000      3
3       4  1.000000      1
4       5  0.800000     15
..    ...       ...    ...
295   296  0.000000      0
296   297  0.000000      0
297   298  0.666667      6
298   299  0.500000      2
299   300  0.333333      3

[300 rows x 3 columns]

In [81]:
H=H.sort_values(by='Rate', ascending=False)
H

     Post  Rate  Count
0       1   1.0      1
136   137   1.0      5
133   134   1.0      3
250   251   1.0      3
129   130   1.0      2
..    ...   ...    ...
154   155   0.0      1
156   157   0.0      2
236   237   0.0      0
235   236   0.0      1
150   151   0.0      0

[300 rows x 3 columns]

In [82]:
for v1 in range(105,118):
    for v2 in range(143,150):
        print("v1:", v1, "v2:", v2)
        U1=sum(list(H['Count'][:v1])) # train
        U2=sum(list(H['Count'][v1:v2])) # test
        U3=sum(list(H['Count'][v2:])) # train
        
        # train
        R=pd.concat([H[:v1], H[v2:]])
        # test
        S=H[v1:v2]
        RL=list(R['Post'].sort_values())
        
        SL=list(S['Post'].sort_values())
        
        init1=0
        for r in RL:
            W=gf[gf['Post']==r][['Label']]
            init1 += list(W['Label']).count('1')
        
        init2=0
        for r in RL:
            W=gf[gf['Post']==r][['Label']]
            init2 += list(W['Label']).count('0')
        
        init3=0
        for s in SL:
            W=gf[gf['Post']==s][['Label']]
            init3 += list(W['Label']).count('1')
        
        init4=0
        for s in SL:
            W=gf[gf['Post']==s][['Label']]
            init4 += list(W['Label']).count('0')
        
        if (U1+U3)/1097 > 0.78 and (U1+U3)/1097 < 0.82 and (init1/(init1+init2)) > 0.57 and (init1/(init1+init2)) < 0.61 and (init3/(init3+init4)) > 0.57 and (init3/(init3+init4))< 0.61 and (U1/U3) > 0.9 and (U1/U3) < 1.1:
            print("percentage of train data: ", (U1+U3)/1097) # 0.7~0.8 
            print("U1:", U1, "U3:", U3, "U1/U3:", U1/U3)  # 1
            print("RL:", len(RL))
            print("SL:", len(SL))
            print(init1)
            print(init2)
            print(init3)
            print(init4)
            if (init1+init2) == 0:  print(0)
            else:    print(init1/(init1+init2)) # rate of '1' in train data
            if (init3+init4) == 0:  print(0)
            else:    print(init3/(init3+init4)) # rate of '1' in test data
            print('*'*100)

v1: 105 v2: 143
v1: 105 v2: 144
v1: 105 v2: 145
v1: 105 v2: 146
v1: 105 v2: 147
v1: 105 v2: 148
v1: 105 v2: 149
v1: 106 v2: 143
v1: 106 v2: 144
v1: 106 v2: 145
v1: 106 v2: 146
v1: 106 v2: 147
v1: 106 v2: 148
v1: 106 v2: 149
v1: 107 v2: 143
v1: 107 v2: 144
v1: 107 v2: 145
v1: 107 v2: 146
v1: 107 v2: 147
v1: 107 v2: 148
v1: 107 v2: 149
v1: 108 v2: 143
v1: 108 v2: 144
v1: 108 v2: 145
v1: 108 v2: 146
v1: 108 v2: 147
v1: 108 v2: 148
v1: 108 v2: 149
v1: 109 v2: 143
v1: 109 v2: 144
v1: 109 v2: 145
v1: 109 v2: 146
v1: 109 v2: 147
v1: 109 v2: 148
v1: 109 v2: 149
v1: 110 v2: 143
v1: 110 v2: 144
v1: 110 v2: 145
v1: 110 v2: 146
v1: 110 v2: 147
v1: 110 v2: 148
v1: 110 v2: 149
v1: 111 v2: 143
v1: 111 v2: 144
v1: 111 v2: 145
v1: 111 v2: 146
v1: 111 v2: 147
v1: 111 v2: 148
v1: 111 v2: 149
v1: 112 v2: 143
v1: 112 v2: 144
v1: 112 v2: 145
v1: 112 v2: 146
v1: 112 v2: 147
v1: 112 v2: 148
v1: 112 v2: 149
v1: 113 v2: 143
v1: 113 v2: 144
v1: 113 v2: 145
v1: 113 v2: 146
v1: 113 v2: 147
v1: 113 v2: 148
v1: 113 v2: 149
v1: 114 v2: 143
percentage of train data:  0.7839562443026435
U1: 411 U3: 449 U1/U3: 0.9153674832962138
RL: 271
SL: 29
510
350
139
98
0.5930232558139535
0.5864978902953587
****************************************************************************************************
v1: 114 v2: 144
v1: 114 v2: 145
v1: 114 v2: 146
v1: 114 v2: 147
v1: 114 v2: 148
v1: 114 v2: 149
v1: 115 v2: 143
percentage of train data:  0.7939835916134913
U1: 422 U3: 449 U1/U3: 0.9398663697104677
RL: 272
SL: 28
516
355
133
93
0.5924225028702641
0.588495575221239
****************************************************************************************************
v1: 115 v2: 144
v1: 115 v2: 145
v1: 115 v2: 146
v1: 115 v2: 147
v1: 115 v2: 148
v1: 115 v2: 149
v1: 116 v2: 143
percentage of train data:  0.8040109389243391
U1: 433 U3: 449 U1/U3: 0.9643652561247216
RL: 273
SL: 27
520
362
129
86
0.5895691609977324
0.6
****************************************************************************************************
v1: 116 v2: 144
percentage of train data:  0.7857793983591613
U1: 433 U3: 429 U1/U3: 1.0093240093240092
RL: 272
SL: 28
506
356
143
92
0.5870069605568445
0.6085106382978723
****************************************************************************************************
v1: 116 v2: 145
v1: 116 v2: 146
v1: 116 v2: 147
v1: 116 v2: 148
v1: 116 v2: 149
v1: 117 v2: 143
v1: 117 v2: 144
v1: 117 v2: 145
v1: 117 v2: 146
v1: 117 v2: 147
v1: 117 v2: 148
v1: 117 v2: 149

In [83]:
# # version 6
# v1=112
# v2=148

# Split 5    116
v1=116
v2=143

In [84]:
# H['Count'][:v1] // H['Count'][V1:v2] // H['Count'][v2:]
# 앞쪽 쓰레드(매칭률 높은 것)와 뒷쪽 쓰레드(매칭률 낮은 것)을 균등하게 합쳐서 트레이닝 데이터 구성.. 총 총 댓글 수는 760~개(70%)정도
U1=sum(list(H['Count'][:v1]))
U2=sum(list(H['Count'][v1:v2]))
U3=sum(list(H['Count'][v2:]))
print(U1, U3, U1+U3, (U1+U3)/1097)

433 449 882 0.8040109389243391

In [85]:
U2

215

In [86]:
# train
R=pd.concat([H[:v1], H[v2:]])
R
# test
S=H[v1:v2]

In [87]:
R

     Post  Rate  Count
0       1   1.0      1
136   137   1.0      5
133   134   1.0      3
250   251   1.0      3
129   130   1.0      2
..    ...   ...    ...
154   155   0.0      1
156   157   0.0      2
236   237   0.0      0
235   236   0.0      1
150   151   0.0      0

[273 rows x 3 columns]

In [88]:
sum(R['Count'])/1097

0.8040109389243391

In [89]:
# train thread#
RL=list(R['Post'].sort_values())
print(len(RL),RL)

273 [1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100, 101, 102, 103, 104, 106, 107, 108, 109, 110, 111, 112, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 141, 142, 143, 144, 145, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 176, 177, 178, 179, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 240, 241, 242, 243, 244, 245, 246, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 266, 267, 268, 270, 271, 272, 273, 275, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 291, 292, 293, 294, 295, 296, 297, 299, 300]

In [90]:
# test thread#
SL=list(S['Post'].sort_values())
print(len(SL),SL)

27 [6, 13, 25, 38, 43, 57, 75, 76, 98, 105, 113, 114, 126, 140, 146, 147, 175, 180, 214, 239, 247, 265, 269, 274, 276, 290, 298]

In [91]:
t=pd.DataFrame(H["Rate"].value_counts()).sort_index(ascending=False)  # 모든 thread의 클린레이블 비율
t

          Rate
1.000000    78
0.888889     2
0.875000     1
0.857143     3
0.833333     1
0.800000     5
0.777778     3
0.769231     2
0.761905     1
0.750000    17
0.727273     4
0.722222     1
0.700000     1
0.692308     1
0.666667    22
0.652174     1
0.650000     1
0.642857     2
0.636364     2
0.625000     2
0.611111     1
0.600000     5
0.583333     1
0.571429     3
0.555556     1
0.500000    38
0.444444     1
0.428571     3
0.400000     1
0.375000     1
0.363636     1
0.333333     6
0.318182     1
0.285714     1
0.250000     3
0.200000     1
0.000000    82

In [92]:
y=pd.DataFrame(R["Rate"].value_counts()).sort_index(ascending=False)  
y

          Rate
1.000000    78
0.888889     2
0.875000     1
0.857143     3
0.833333     1
0.800000     5
0.777778     3
0.769231     2
0.761905     1
0.750000    17
0.727273     3
0.650000     1
0.642857     2
0.636364     2
0.625000     2
0.611111     1
0.600000     5
0.583333     1
0.571429     3
0.555556     1
0.500000    38
0.444444     1
0.428571     3
0.400000     1
0.375000     1
0.363636     1
0.333333     6
0.318182     1
0.285714     1
0.250000     3
0.200000     1
0.000000    82

In [93]:
u=pd.DataFrame(S["Rate"].value_counts()).sort_index(ascending=False)  
u

          Rate
0.727273     1
0.722222     1
0.700000     1
0.692308     1
0.666667    22
0.652174     1

In [94]:
pd.concat([t,y,u], axis=1)    # total, train, test

          Rate  Rate  Rate
1.000000    78  78.0   NaN
0.888889     2   2.0   NaN
0.875000     1   1.0   NaN
0.857143     3   3.0   NaN
0.833333     1   1.0   NaN
0.800000     5   5.0   NaN
0.777778     3   3.0   NaN
0.769231     2   2.0   NaN
0.761905     1   1.0   NaN
0.750000    17  17.0   NaN
0.727273     4   3.0   1.0
0.722222     1   NaN   1.0
0.700000     1   NaN   1.0
0.692308     1   NaN   1.0
0.666667    22   NaN  22.0
0.652174     1   NaN   1.0
0.650000     1   1.0   NaN
0.642857     2   2.0   NaN
0.636364     2   2.0   NaN
0.625000     2   2.0   NaN
0.611111     1   1.0   NaN
0.600000     5   5.0   NaN
0.583333     1   1.0   NaN
0.571429     3   3.0   NaN
0.555556     1   1.0   NaN
0.500000    38  38.0   NaN
0.444444     1   1.0   NaN
0.428571     3   3.0   NaN
0.400000     1   1.0   NaN
0.375000     1   1.0   NaN
0.363636     1   1.0   NaN
0.333333     6   6.0   NaN
0.318182     1   1.0   NaN
0.285714     1   1.0   NaN
0.250000     3   3.0   NaN
0.200000     1   1.0   NaN
0.000000    82  82.0   NaN

In [95]:
init1=0
for r in RL:
    W=gf[gf['Post']==r][['Label']]
    init1 += list(W['Label']).count('1')
init1

520

In [96]:
init2=0
for r in RL:
    W=gf[gf['Post']==r][['Label']]
    init2 += list(W['Label']).count('0')
init2

362

In [97]:
init3=0
for s in SL:
    W=gf[gf['Post']==s][['Label']]
    init3 += list(W['Label']).count('1')
init3

129

In [98]:
init4=0
for s in SL:
    W=gf[gf['Post']==s][['Label']]
    init4 += list(W['Label']).count('0')
init4

86

# Split 6

In [100]:
# Original H, before sorting
H

     Post      Rate  Count
0       1  1.000000      1
1       2  0.000000      0
2       3  1.000000      3
3       4  1.000000      1
4       5  0.800000     15
..    ...       ...    ...
295   296  0.000000      0
296   297  0.000000      0
297   298  0.666667      6
298   299  0.500000      2
299   300  0.333333      3

[300 rows x 3 columns]

In [101]:
H=H.sort_values(by='Rate', ascending=False)
H

     Post  Rate  Count
0       1   1.0      1
136   137   1.0      5
133   134   1.0      3
250   251   1.0      3
129   130   1.0      2
..    ...   ...    ...
154   155   0.0      1
156   157   0.0      2
236   237   0.0      0
235   236   0.0      1
150   151   0.0      0

[300 rows x 3 columns]

In [102]:
h=H[["Rate","Count"]]
numlist = list(range(len(h)))
h = h.set_index(pd.Index(numlist))
h

     Rate  Count
0     1.0      1
1     1.0      5
2     1.0      3
3     1.0      3
4     1.0      2
..    ...    ...
295   0.0      1
296   0.0      2
297   0.0      0
298   0.0      1
299   0.0      0

[300 rows x 2 columns]

In [103]:
# pd.set_option('display.max_rows', None)
Accu=[]
for i in range(len(h)):
    if i==0:  Accu.append(h["Count"][0])
    else:  Accu.append(Accu[-1]+h["Count"][i])
# print(len(Accu),Accu)
h["Accu"]=Accu
h

     Rate  Count  Accu
0     1.0      1     1
1     1.0      5     6
2     1.0      3     9
3     1.0      3    12
4     1.0      2    14
..    ...    ...   ...
295   0.0      1  1094
296   0.0      2  1096
297   0.0      0  1096
298   0.0      1  1097
299   0.0      0  1097

[300 rows x 3 columns]

In [104]:
h["%"]=h["Accu"]/1097*100
h

     Rate  Count  Accu           %
0     1.0      1     1    0.091158
1     1.0      5     6    0.546946
2     1.0      3     9    0.820419
3     1.0      3    12    1.093892
4     1.0      2    14    1.276208
..    ...    ...   ...         ...
295   0.0      1  1094   99.726527
296   0.0      2  1096   99.908842
297   0.0      0  1096   99.908842
298   0.0      1  1097  100.000000
299   0.0      0  1097  100.000000

[300 rows x 4 columns]

In [131]:
h["%"][129]

49.86326344576117

In [132]:
# Split 2 equal groups // 0~130 thread take 50.13%
H1=H[:131] # 1st group
H2=H[131:] # 2nd group
H2

     Post      Rate  Count
275   276  0.666667      9
24     25  0.666667     24
139   140  0.666667      3
112   113  0.666667      3
113   114  0.666667      6
..    ...       ...    ...
154   155  0.000000      1
156   157  0.000000      2
236   237  0.000000      0
235   236  0.000000      1
150   151  0.000000      0

[169 rows x 3 columns]

In [133]:
# for H1
for i in range(1,len(H1)+1):
    U1=sum(list(H1['Count'][:i]))
    print("percentage of train data: ", U1/1097)
    # train
    R1=H1[:i]
    # test
    S1=H1[i:]
    RL1=list(R1['Post'].sort_values())
    print(len(RL1))
    SL1=list(S1['Post'].sort_values())
    print(len(SL1))
    init11=0
    for r in RL1:
        W=gf[gf['Post']==r][['Label']]
        init11 += list(W['Label']).count('1')
    print(init11)
    init12=0
    for r in RL1:
        W=gf[gf['Post']==r][['Label']]
        init12 += list(W['Label']).count('0')
    print(init12)
    init13=0
    for s in SL1:
        W=gf[gf['Post']==s][['Label']]
        init13 += list(W['Label']).count('1')
    print(init13)
    init14=0
    for s in SL1:
        W=gf[gf['Post']==s][['Label']]
        init14 += list(W['Label']).count('0')
    print(init14)
    if (init11+init12) == 0:
        print(0)
    else:    print(init11/(init11+init12)) # rate of '1' in train data
    if (init13+init14) == 0:
        print(0)
    else:    print(init13/(init13+init14)) # rate of '1' in test data
    print('*'*100)

percentage of train data:  0.0009115770282588879
1
130
0
1
316
233
0.0
0.575591985428051
****************************************************************************************************
percentage of train data:  0.0054694621695533276
2
129
3
3
313
231
0.5
0.5753676470588235
****************************************************************************************************
percentage of train data:  0.008204193254329991
3
128
5
4
311
230
0.5555555555555556
0.5748613678373382
****************************************************************************************************
percentage of train data:  0.010938924339106655
4
127
8
4
308
230
0.6666666666666666
0.5724907063197026
****************************************************************************************************
percentage of train data:  0.01276207839562443
5
126
10
4
306
230
0.7142857142857143
0.5708955223880597
****************************************************************************************************
percentage of train data:  0.014585232452142206
6
125
11
5
305
229
0.6875
0.5711610486891385
****************************************************************************************************
percentage of train data:  0.015496809480401094
7
124
11
6
305
228
0.6470588235294118
0.5722326454033771
****************************************************************************************************
percentage of train data:  0.01731996353691887
8
123
13
6
303
228
0.6842105263157895
0.5706214689265536
****************************************************************************************************
percentage of train data:  0.018231540565177756
9
122
13
7
303
227
0.65
0.5716981132075472
****************************************************************************************************
percentage of train data:  0.019143117593436645
10
121
13
8
303
226
0.6190476190476191
0.5727788279773157
****************************************************************************************************
percentage of train data:  0.020054694621695533
11
120
14
8
302
226
0.6363636363636364
0.571969696969697
****************************************************************************************************
percentage of train data:  0.020966271649954422
12
119
14
9
302
225
0.6086956521739131
0.573055028462998
****************************************************************************************************
percentage of train data:  0.022789425706472195
13
118
15
10
301
224
0.6
0.5733333333333334
****************************************************************************************************
percentage of train data:  0.02643573381950775
14
117
18
11
298
223
0.6206896551724138
0.5719769673704415
****************************************************************************************************
percentage of train data:  0.027347310847766638
15
116
18
12
298
222
0.6
0.573076923076923
****************************************************************************************************
percentage of train data:  0.03099361896080219
16
115
22
12
294
222
0.6470588235294118
0.5697674418604651
****************************************************************************************************
percentage of train data:  0.03190519598906107
17
114
23
12
293
222
0.6571428571428571
0.5689320388349515
****************************************************************************************************
percentage of train data:  0.03463992707383774
18
113
25
13
291
221
0.6578947368421053
0.568359375
****************************************************************************************************
percentage of train data:  0.037374658158614404
19
112
28
13
288
221
0.6829268292682927
0.5658153241650294
****************************************************************************************************
percentage of train data:  0.03828623518687329
20
111
29
13
287
221
0.6904761904761905
0.5649606299212598
****************************************************************************************************
percentage of train data:  0.040109389243391066
21
110
30
14
286
220
0.6818181818181818
0.5652173913043478
****************************************************************************************************
percentage of train data:  0.041932543299908843
22
109
31
15
285
219
0.6739130434782609
0.5654761904761905
****************************************************************************************************
percentage of train data:  0.04375569735642662
23
108
32
16
284
218
0.6666666666666666
0.5657370517928287
****************************************************************************************************
percentage of train data:  0.044667274384685506
24
107
32
17
284
217
0.6530612244897959
0.5668662674650699
****************************************************************************************************
percentage of train data:  0.04557885141294439
25
106
32
18
284
216
0.64
0.568
****************************************************************************************************
percentage of train data:  0.04649042844120328
26
105
33
18
283
216
0.6470588235294118
0.5671342685370742
****************************************************************************************************
percentage of train data:  0.04740200546946217
27
104
34
18
282
216
0.6538461538461539
0.5662650602409639
****************************************************************************************************
percentage of train data:  0.04831358249772106
28
103
34
19
282
215
0.6415094339622641
0.5674044265593562
****************************************************************************************************
percentage of train data:  0.049225159525979945
29
102
34
20
282
214
0.6296296296296297
0.5685483870967742
****************************************************************************************************
percentage of train data:  0.05104831358249772
30
101
34
22
282
212
0.6071428571428571
0.5708502024291497
****************************************************************************************************
percentage of train data:  0.05195989061075661
31
100
35
22
281
212
0.6140350877192983
0.5699797160243407
****************************************************************************************************
percentage of train data:  0.0528714676390155
32
99
35
23
281
211
0.603448275862069
0.5711382113821138
****************************************************************************************************
percentage of train data:  0.053783044667274384
33
98
35
24
281
210
0.5932203389830508
0.5723014256619144
****************************************************************************************************
percentage of train data:  0.054694621695533276
34
97
35
25
281
209
0.5833333333333334
0.573469387755102
****************************************************************************************************
percentage of train data:  0.05560619872379216
35
96
35
26
281
208
0.5737704918032787
0.5746421267893661
****************************************************************************************************
percentage of train data:  0.056517775752051046
36
95
36
26
280
208
0.5806451612903226
0.5737704918032787
****************************************************************************************************
percentage of train data:  0.0601640838650866
37
94
40
26
276
208
0.6060606060606061
0.5702479338842975
****************************************************************************************************
percentage of train data:  0.06198723792160438
38
93
42
26
274
208
0.6176470588235294
0.5684647302904564
****************************************************************************************************
percentage of train data:  0.06381039197812215
39
92
44
26
272
208
0.6285714285714286
0.5666666666666667
****************************************************************************************************
percentage of train data:  0.06472196900638104
40
91
44
27
272
207
0.6197183098591549
0.5678496868475992
****************************************************************************************************
percentage of train data:  0.06654512306289881
41
90
44
29

272
205
0.6027397260273972
0.570230607966457
****************************************************************************************************
percentage of train data:  0.06836827711941659
42
89
45
30
271
204
0.6
0.5705263157894737
****************************************************************************************************
percentage of train data:  0.06927985414767548
43
88
45
31
271
203
0.5921052631578947
0.5717299578059072
****************************************************************************************************
percentage of train data:  0.07201458523245215
44
87
47
32
269
202
0.5949367088607594
0.5711252653927813
****************************************************************************************************
percentage of train data:  0.07292616226071102
45
86
48
32
268
202
0.6
0.5702127659574469
****************************************************************************************************
percentage of train data:  0.07383773928896992
46
85
48
33
268
201
0.5925925925925926
0.5714285714285714
****************************************************************************************************
percentage of train data:  0.07566089334548769
47
84
49
34
267
200
0.5903614457831325
0.5717344753747323
****************************************************************************************************
percentage of train data:  0.07748404740200547
48
83
51
34
265
200
0.6
0.5698924731182796
****************************************************************************************************
percentage of train data:  0.07839562443026436
49
82
52
34
264
200
0.6046511627906976
0.5689655172413793
****************************************************************************************************
percentage of train data:  0.08021877848678213
50
81
53
35
263
199
0.6022727272727273
0.5692640692640693
****************************************************************************************************
percentage of train data:  0.0829535095715588
51
80
55
36
261
198
0.6043956043956044
0.5686274509803921
****************************************************************************************************
percentage of train data:  0.08386508659981769
52
79
55
37
261
197
0.5978260869565217
0.5698689956331878
****************************************************************************************************
percentage of train data:  0.08477666362807658
53
78
56
37
260
197
0.6021505376344086
0.5689277899343544
****************************************************************************************************
percentage of train data:  0.08659981768459435
54
77
58
37
258
197
0.6105263157894737
0.567032967032967
****************************************************************************************************
percentage of train data:  0.0902461257976299
55
76
60
39
256
195
0.6060606060606061
0.5676274944567627
****************************************************************************************************
percentage of train data:  0.09480401093892434
56
75
62
42
254
192
0.5961538461538461
0.5695067264573991
****************************************************************************************************
percentage of train data:  0.09571558796718323
57
74
62
43
254
191
0.5904761904761905
0.5707865168539326
****************************************************************************************************
percentage of train data:  0.097538742023701
58
73
63
44
253
190
0.5887850467289719
0.5711060948081265
****************************************************************************************************
percentage of train data:  0.09845031905195989
59
72
64
44
252
190
0.5925925925925926
0.5701357466063348
****************************************************************************************************
percentage of train data:  0.10209662716499544
60
71
68
44
248
190
0.6071428571428571
0.5662100456621004
****************************************************************************************************
percentage of train data:  0.105742935278031
61
70
71
45
245
189
0.6120689655172413
0.5645161290322581
****************************************************************************************************
percentage of train data:  0.10665451230628988
62
69
72
45
244
189
0.6153846153846154
0.5635103926096998
****************************************************************************************************
percentage of train data:  0.11212397447584321
63
68
75
48
241
186
0.6097560975609756
0.5644028103044496
****************************************************************************************************
percentage of train data:  0.11941659070191431
64
67
81
50
235
184
0.6183206106870229
0.5608591885441527
****************************************************************************************************
percentage of train data:  0.12215132178669097
65
66
82
52
234
182
0.6119402985074627
0.5625
****************************************************************************************************
percentage of train data:  0.12488605287146765
66
65
83
54
233
180
0.6058394160583942
0.5641646489104116
****************************************************************************************************
percentage of train data:  0.12579762989972654
67
64
84
54
232
180
0.6086956521739131
0.5631067961165048
****************************************************************************************************
percentage of train data:  0.12853236098450319
68
63
86
55
230
179
0.6099290780141844
0.5623471882640587
****************************************************************************************************
percentage of train data:  0.1340018231540565
69
62
89
58
227
176
0.6054421768707483
0.5632754342431762
****************************************************************************************************
percentage of train data:  0.1349134001823154
70
61
89
59
227
175
0.6013513513513513
0.5646766169154229
****************************************************************************************************
percentage of train data:  0.13673655423883319
71
60
91
59
225
175
0.6066666666666667
0.5625
****************************************************************************************************
percentage of train data:  0.13855970829535097
72
59
93
59
223
175
0.6118421052631579
0.5603015075376885
****************************************************************************************************
percentage of train data:  0.13947128532360983
73
58
93
60
223
174
0.6078431372549019
0.5617128463476071
****************************************************************************************************
percentage of train data:  0.14038286235186873
74
57
93
61
223
173
0.6038961038961039
0.5631313131313131
****************************************************************************************************
percentage of train data:  0.14129443938012762
75
56
94
61
222
173
0.6064516129032258
0.5620253164556962
****************************************************************************************************
percentage of train data:  0.1440291704649043
76
55
94
64
222
170
0.5949367088607594
0.5663265306122449
****************************************************************************************************
percentage of train data:  0.14494074749316319
77
54
95
64
221
170
0.5974842767295597
0.5652173913043478
****************************************************************************************************
percentage of train data:  0.14767547857793983
78
53
97
65
219
169
0.5987654320987654
0.5644329896907216
****************************************************************************************************
percentage of train data:  0.15587967183226983
79
52
103
68
213
166
0.6023391812865497
0.5620052770448549
****************************************************************************************************
percentage of train data:  0.1640838650865998
80
51
106
74
210
160
0.5888888888888889
0.5675675675675675
****************************************************************************************************
percentage of train data:  0.17137648131267091
81
50
112
76
204
158
0.5957446808510638
0.56353591160221
****************************************************************************************************
percentage of train data:  0.17775752051048313
82
49
119

76
197
158
0.6102564102564103
0.5549295774647888
****************************************************************************************************
percentage of train data:  0.18413855970829535
83
48
123
79
193
155
0.6089108910891089
0.5545977011494253
****************************************************************************************************
percentage of train data:  0.19051959890610756
84
47
127
82
189
152
0.6076555023923444
0.5542521994134897
****************************************************************************************************
percentage of train data:  0.1959890610756609
85
46
130
85
186
149
0.6046511627906976
0.5552238805970149
****************************************************************************************************
percentage of train data:  0.20054694621695535
86
45
134
86
182
148
0.6090909090909091
0.5515151515151515
****************************************************************************************************
percentage of train data:  0.20510483135824978
87
44
137
88
179
146
0.6088888888888889
0.5507692307692308
****************************************************************************************************
percentage of train data:  0.2096627164995442
88
43
140
90
176
144
0.6086956521739131
0.55
****************************************************************************************************
percentage of train data:  0.21422060164083864
89
42
141
94
175
140
0.6
0.5555555555555556
****************************************************************************************************
percentage of train data:  0.22789425706472197
90
41
149
101
167
133
0.596
0.5566666666666666
****************************************************************************************************
percentage of train data:  0.23609845031905197
91
40
151
108
165
126
0.583011583011583
0.5670103092783505
****************************************************************************************************
percentage of train data:  0.24430264357338194
92
39
154
114
162
120
0.5746268656716418
0.574468085106383
****************************************************************************************************
percentage of train data:  0.25250683682771197
93
38
156
121
160
113
0.5631768953068592
0.5860805860805861
****************************************************************************************************
percentage of train data:  0.2643573381950775
94
37
167
123
149
111
0.5758620689655173
0.573076923076923
****************************************************************************************************
percentage of train data:  0.27620783956244305
95
36
174
129
142
105
0.5742574257425742
0.5748987854251012
****************************************************************************************************
percentage of train data:  0.29535095715587967
96
35
185
139
131
95
0.5709876543209876
0.5796460176991151
****************************************************************************************************
percentage of train data:  0.29899726526891524
97
34
186
142
130
92
0.5670731707317073
0.5855855855855856
****************************************************************************************************
percentage of train data:  0.3062898814949863
98
33
193
143
123
91
0.5744047619047619
0.5747663551401869
****************************************************************************************************
percentage of train data:  0.3099361896080219
99
32
193
147
123
87
0.5676470588235294
0.5857142857142857
****************************************************************************************************
percentage of train data:  0.31358249772105745
100
31
195
149
121
85
0.5668604651162791
0.587378640776699
****************************************************************************************************
percentage of train data:  0.31722880583409296
101
30
198
150
118
84
0.5689655172413793
0.5841584158415841
****************************************************************************************************
percentage of train data:  0.32087511394712853
102
29
202
150
114
84
0.5738636363636364
0.5757575757575758
****************************************************************************************************
percentage of train data:  0.3245214220601641
103
28
204
152
112
82
0.5730337078651685
0.5773195876288659
****************************************************************************************************
percentage of train data:  0.3281677301731996
104
27
208
152
108
82
0.5777777777777777
0.5684210526315789
****************************************************************************************************
percentage of train data:  0.3318140382862352
105
26
211
153
105
81
0.5796703296703297
0.5645161290322581
****************************************************************************************************
percentage of train data:  0.33546034639927075
106
25
214
154
102
80
0.5815217391304348
0.5604395604395604
****************************************************************************************************
percentage of train data:  0.3391066545123063
107
24
216
156
100
78
0.5806451612903226
0.5617977528089888
****************************************************************************************************
percentage of train data:  0.3463992707383774
108
23
220
160
96
74
0.5789473684210527
0.5647058823529412
****************************************************************************************************
percentage of train data:  0.35004557885141296
109
22
223
161
93
73
0.5807291666666666
0.5602409638554217
****************************************************************************************************
percentage of train data:  0.3536918869644485
110
21
226
162
90
72
0.5824742268041238
0.5555555555555556
****************************************************************************************************
percentage of train data:  0.35733819507748404
111
20
228
164
88
70
0.5816326530612245
0.5569620253164557
****************************************************************************************************
percentage of train data:  0.3609845031905196
112
19
231
165
85
69
0.5833333333333334
0.551948051948052
****************************************************************************************************
percentage of train data:  0.3646308113035551
113
18
232
168
84
66
0.58
0.56
****************************************************************************************************
percentage of train data:  0.37465815861440294
114
17
239
172
77
62
0.5815085158150851
0.5539568345323741
****************************************************************************************************
percentage of train data:  0.3846855059252507
115
16
245
177
71
57
0.580568720379147
0.5546875
****************************************************************************************************
percentage of train data:  0.39471285323609845
116
15
249
184
67
50
0.5750577367205543
0.5726495726495726
****************************************************************************************************
percentage of train data:  0.4047402005469462
117
14
251
193
65
41
0.5653153153153153
0.6132075471698113
****************************************************************************************************
percentage of train data:  0.4211485870556062
118
13
265
197
51
37
0.5735930735930735
0.5795454545454546
****************************************************************************************************
percentage of train data:  0.44849589790337285
119
12
286
206
30
28
0.5813008130081301
0.5172413793103449
****************************************************************************************************
percentage of train data:  0.4603463992707384
120
11
290
215
26
19
0.5742574257425742
0.5777777777777777
****************************************************************************************************
percentage of train data:  0.4658158614402917
121
10
294
217
22
17
0.5753424657534246
0.5641025641025641
****************************************************************************************************
percentage of train data:  0.46855059252506837
122
9
295
219
21
15
0.5739299610894941
0.5833333333333334
****************************************************************************************************
percentage of train data:  0.47128532360984504
123
8

298
219
18
15
0.5764023210831721
0.5454545454545454
****************************************************************************************************
percentage of train data:  0.4740200546946217
124
7
300
220
16
14
0.5769230769230769
0.5333333333333333
****************************************************************************************************
percentage of train data:  0.47675478577939834
125
6
301
222
15
12
0.5755258126195029
0.5555555555555556
****************************************************************************************************
percentage of train data:  0.479489516864175
126
5
303
223
13
11
0.5760456273764258
0.5416666666666666
****************************************************************************************************
percentage of train data:  0.49042844120328166
127
4
308
230
8
4
0.5724907063197026
0.6666666666666666
****************************************************************************************************
percentage of train data:  0.49316317228805834
128
3
310
231
6
3
0.5730129390018485
0.6666666666666666
****************************************************************************************************
percentage of train data:  0.495897903372835
129
2
312
232
4
2
0.5735294117647058
0.6666666666666666
****************************************************************************************************
percentage of train data:  0.4986326344576117
130
1
314
233
2
1
0.5740402193784278
0.6666666666666666
****************************************************************************************************
percentage of train data:  0.5013673655423884
131
0
316
234
0
0
0.5745454545454546
0
****************************************************************************************************

In [113]:
# for H2
for i in range(1,len(H2)+1):
    U2=sum(list(H2['Count'][:i]))
    print("percentage of train data: ", U2/1097)
    # train
    R2=H2[:i]
    # test
    S2=H2[i:]
    RL2=list(R2['Post'].sort_values())
    print(len(RL2))
    SL2=list(S2['Post'].sort_values())
    print(len(SL2))
    init21=0
    for r in RL2:
        W=gf[gf['Post']==r][['Label']]
        init21 += list(W['Label']).count('1')
    print(init21)
    init22=0
    for r in RL2:
        W=gf[gf['Post']==r][['Label']]
        init22 += list(W['Label']).count('0')
    print(init22)
    init23=0
    for s in SL2:
        W=gf[gf['Post']==s][['Label']]
        init23 += list(W['Label']).count('1')
    print(init23)
    init24=0
    for s in SL2:
        W=gf[gf['Post']==s][['Label']]
        init24 += list(W['Label']).count('0')
    print(init24)
    if (init1+init2) == 0:
        print(0)
    else:    print(init21/(init21+init22)) # rate of '1' in train data
    if (init23+init24) == 0:
        print(0)
    else:    print(init23/(init23+init24)) # rate of '1' in test data
    print('*'*100)

percentage of train data:  0.008204193254329991
1
168
4
5
329
209
0.4444444444444444
0.6115241635687733
****************************************************************************************************
percentage of train data:  0.0300820419325433
2
167
19
14
314
200
0.5757575757575758
0.6108949416342413
****************************************************************************************************
percentage of train data:  0.032816773017319965
3
166
22
14
311
200
0.6111111111111112
0.6086105675146771
****************************************************************************************************
percentage of train data:  0.03555150410209663
4
165
23
16
310
198
0.5897435897435898
0.610236220472441
****************************************************************************************************
percentage of train data:  0.04102096627164995
5
164
24
21
309
193
0.5333333333333333
0.6155378486055777
****************************************************************************************************
percentage of train data:  0.049225159525979945
6
163
33
21
300
193
0.6111111111111112
0.6085192697768763
****************************************************************************************************
percentage of train data:  0.054694621695533276
7
162
38
22
295
192
0.6333333333333333
0.6057494866529775
****************************************************************************************************
percentage of train data:  0.05742935278030994
8
161
40
23
293
191
0.6349206349206349
0.6053719008264463
****************************************************************************************************
percentage of train data:  0.0601640838650866
9
160
41
25
292
189
0.6212121212121212
0.6070686070686071
****************************************************************************************************
percentage of train data:  0.06289881494986327
10
159
42
27
291
187
0.6086956521739131
0.608786610878661
****************************************************************************************************
percentage of train data:  0.06836827711941659
11
158
47
28
286
186
0.6266666666666667
0.6059322033898306
****************************************************************************************************
percentage of train data:  0.08933454876937101
12
157
62
36
271
178
0.6326530612244898
0.6035634743875279
****************************************************************************************************
percentage of train data:  0.10756608933454877
13
156
76
42
257
172
0.6440677966101694
0.5990675990675991
****************************************************************************************************
percentage of train data:  0.1203281677301732
14
155
85
47
248
167
0.6439393939393939
0.5975903614457831
****************************************************************************************************
percentage of train data:  0.13309024612579762
15
154
93
53
240
161
0.636986301369863
0.5985037406483791
****************************************************************************************************
percentage of train data:  0.1431175934366454
16
153
100
57
233
157
0.6369426751592356
0.5974358974358974
****************************************************************************************************
percentage of train data:  0.15314494074749316
17
152
106
62
227
152
0.6309523809523809
0.5989445910290238
****************************************************************************************************
percentage of train data:  0.16043755697356427
18
151
111
65
222
149
0.6306818181818182
0.5983827493261455
****************************************************************************************************
percentage of train data:  0.16773017319963537
19
150
117
67
216
147
0.6358695652173914
0.5950413223140496
****************************************************************************************************
percentage of train data:  0.18413855970829535
20
149
129
73
204
141
0.6386138613861386
0.591304347826087
****************************************************************************************************
percentage of train data:  0.19325432999088424
21
148
136
76
197
138
0.6415094339622641
0.5880597014925373
****************************************************************************************************
percentage of train data:  0.20692798541476753
22
147
145
82
188
132
0.6387665198237885
0.5875
****************************************************************************************************
percentage of train data:  0.211485870556062
23
146
148
84
185
130
0.6379310344827587
0.5873015873015873
****************************************************************************************************
percentage of train data:  0.21604375569735643
24
145
153
84
180
130
0.6455696202531646
0.5806451612903226
****************************************************************************************************
percentage of train data:  0.22515952597994532
25
144
163
84
170
130
0.659919028340081
0.5666666666666667
****************************************************************************************************
percentage of train data:  0.23609845031905197
26
143
171
88
162
126
0.6602316602316602
0.5625
****************************************************************************************************
percentage of train data:  0.24247948951686418
27
142
177
89
156
125
0.6654135338345865
0.5551601423487544
****************************************************************************************************
percentage of train data:  0.2488605287146764
28
141
180
93
153
121
0.6593406593406593
0.5583941605839416
****************************************************************************************************
percentage of train data:  0.2552415679124886
29
140
186
94
147
120
0.6642857142857143
0.550561797752809
****************************************************************************************************
percentage of train data:  0.2634457611668186
30
139
192
97
141
117
0.6643598615916955
0.5465116279069767
****************************************************************************************************
percentage of train data:  0.2652689152233364
31
138
193
98
140
116
0.6632302405498282
0.546875
****************************************************************************************************
percentage of train data:  0.2670920692798541
32
137
195
98
138
116
0.6655290102389079
0.5433070866141733
****************************************************************************************************
percentage of train data:  0.2689152233363719
33
136
196
99
137
115
0.6644067796610169
0.5436507936507936
****************************************************************************************************
percentage of train data:  0.2725615314494075
34
135
199
100
134
114
0.6655518394648829
0.5403225806451613
****************************************************************************************************
percentage of train data:  0.27438468550592526
35
134
201
100
132
114
0.6677740863787376
0.5365853658536586
****************************************************************************************************
percentage of train data:  0.27620783956244305
36
133
201
102
132
112
0.6633663366336634
0.5409836065573771
****************************************************************************************************
percentage of train data:  0.2780309936189608
37
132
201
104
132
110
0.659016393442623
0.5454545454545454
****************************************************************************************************
percentage of train data:  0.27985414767547856
38
131
202
105
131
109
0.6579804560260586
0.5458333333333333
****************************************************************************************************
percentage of train data:  0.28167730173199634
39
130
203
106
130
108
0.656957928802589
0.5462184873949579
****************************************************************************************************
percentage of train data:  0.2835004557885141
40
129
204
107
129
107
0.6559485530546624
0.5466101694915254
****************************************************************************************************
percentage of train data:  0.2871467639015497
41
128
205
110
128

104
0.6507936507936508
0.5517241379310345
****************************************************************************************************
percentage of train data:  0.292616226071103
42
127
209
112
124
102
0.6510903426791277
0.5486725663716814
****************************************************************************************************
percentage of train data:  0.2944393801276208
43
126
209
114
124
100
0.6470588235294118
0.5535714285714286
****************************************************************************************************
percentage of train data:  0.29626253418413856
44
125
209
116
124
98
0.6430769230769231
0.5585585585585585
****************************************************************************************************
percentage of train data:  0.29808568824065634
45
124
210
117
123
97
0.6422018348623854
0.5590909090909091
****************************************************************************************************
percentage of train data:  0.2999088422971741
46
123
211
118
122
96
0.6413373860182371
0.5596330275229358
****************************************************************************************************
percentage of train data:  0.30355515041020964
47
122
212
121
121
93
0.6366366366366366
0.5654205607476636
****************************************************************************************************
percentage of train data:  0.3053783044667274
48
121
212
123
121
91
0.6328358208955224
0.5707547169811321
****************************************************************************************************
percentage of train data:  0.309024612579763
49
120
213
126
120
88
0.6283185840707964
0.5769230769230769
****************************************************************************************************
percentage of train data:  0.3108477666362808
50
119
214
127
119
87
0.6275659824046921
0.5776699029126213
****************************************************************************************************
percentage of train data:  0.31631722880583407
51
118
216
131
117
83
0.622478386167147
0.585
****************************************************************************************************
percentage of train data:  0.31996353691886964
52
117
218
133
115
81
0.6210826210826211
0.5867346938775511
****************************************************************************************************
percentage of train data:  0.3217866909753874
53
116
219
134
114
80
0.6203966005665722
0.5876288659793815
****************************************************************************************************
percentage of train data:  0.3236098450319052
54
115
220
135
113
79
0.6197183098591549
0.5885416666666666
****************************************************************************************************
percentage of train data:  0.3290793072014585
55
114
225
136
108
78
0.6232686980609419
0.5806451612903226
****************************************************************************************************
percentage of train data:  0.3309024612579763
56
113
227
136
106
78
0.6253443526170799
0.5760869565217391
****************************************************************************************************
percentage of train data:  0.33272561531449407
57
112
227
138
106
76
0.6219178082191781
0.5824175824175825
****************************************************************************************************
percentage of train data:  0.33454876937101186
58
111
228
139
105
75
0.6212534059945504
0.5833333333333334
****************************************************************************************************
percentage of train data:  0.33637192342752964
59
110
229
140
104
74
0.6205962059620597
0.5842696629213483
****************************************************************************************************
percentage of train data:  0.34001823154056515
60
109
231
142
102
72
0.6193029490616622
0.5862068965517241
****************************************************************************************************
percentage of train data:  0.34184138559708294
61
108
233
142
100
72
0.6213333333333333
0.5813953488372093
****************************************************************************************************
percentage of train data:  0.3473108477666363
62
107
234
147
99
67
0.6141732283464567
0.5963855421686747
****************************************************************************************************
percentage of train data:  0.34913400182315407
63
106
236
147
97
67
0.6161879895561357
0.5914634146341463
****************************************************************************************************
percentage of train data:  0.35095715587967186
64
105
236
149
97
65
0.612987012987013
0.5987654320987654
****************************************************************************************************
percentage of train data:  0.35460346399270737
65
104
240
149
93
65
0.6169665809768637
0.5886075949367089
****************************************************************************************************
percentage of train data:  0.35642661804922515
66
103
241
150
92
64
0.6163682864450127
0.5897435897435898
****************************************************************************************************
percentage of train data:  0.3637192342752963
67
102
248
151
85
63
0.6215538847117794
0.5743243243243243
****************************************************************************************************
percentage of train data:  0.365542388331814
68
101
249
152
84
62
0.6209476309226932
0.5753424657534246
****************************************************************************************************
percentage of train data:  0.37374658158614404
69
100
253
157
80
57
0.6170731707317073
0.583941605839416
****************************************************************************************************
percentage of train data:  0.38012762078395623
70
99
255
162
78
52
0.6115107913669064
0.6
****************************************************************************************************
percentage of train data:  0.3865086599817685
71
98
260
164
73
50
0.6132075471698113
0.5934959349593496
****************************************************************************************************
percentage of train data:  0.39288969917958066
72
97
262
169
71
45
0.6078886310904872
0.6120689655172413
****************************************************************************************************
percentage of train data:  0.3974475843208751
73
96
266
170
67
44
0.6100917431192661
0.6036036036036037
****************************************************************************************************
percentage of train data:  0.4047402005469462
74
95
272
172
61
42
0.6126126126126126
0.5922330097087378
****************************************************************************************************
percentage of train data:  0.41476754785779396
75
94
277
178
56
36
0.6087912087912087
0.6086956521739131
****************************************************************************************************
percentage of train data:  0.4202370100273473
76
93
281
180
52
34
0.6095444685466378
0.6046511627906976
****************************************************************************************************
percentage of train data:  0.422971741112124
77
92
282
182
51
32
0.6077586206896551
0.6144578313253012
****************************************************************************************************
percentage of train data:  0.42570647219690066
78
91
283
184
50
30
0.6059957173447538
0.625
****************************************************************************************************
percentage of train data:  0.4284412032816773
79
90
285
185
48
29
0.6063829787234043
0.6233766233766234
****************************************************************************************************
percentage of train data:  0.43117593436645396
80
89
286
187
47
27
0.6046511627906976
0.6351351351351351
****************************************************************************************************
percentage of train data:  0.43391066545123064
81
88
288
188
45
26
0.6050420168067226
0.6338028169014085
****************************************************************************************************
percentage of train data:  0.45396536007292615
82
87
299

199
34
15
0.6004016064257028
0.6938775510204082
****************************************************************************************************
percentage of train data:  0.4667274384685506
83
86
311
201
22
13
0.607421875
0.6285714285714286
****************************************************************************************************
percentage of train data:  0.47037374658158615
84
85
315
201
18
13
0.6104651162790697
0.5806451612903226
****************************************************************************************************
percentage of train data:  0.4740200546946217
85
84
317
203
16
11
0.6096153846153847
0.5925925925925926
****************************************************************************************************
percentage of train data:  0.47766636280765723
86
83
320
204
13
10
0.6106870229007634
0.5652173913043478
****************************************************************************************************
percentage of train data:  0.4822242479489517
87
82
322
207
11
7
0.6086956521739131
0.6111111111111112
****************************************************************************************************
percentage of train data:  0.4822242479489517
88
81
322
207
11
7
0.6086956521739131
0.6111111111111112
****************************************************************************************************
percentage of train data:  0.4822242479489517
89
80
322
207
11
7
0.6086956521739131
0.6111111111111112
****************************************************************************************************
percentage of train data:  0.4822242479489517
90
79
322
207
11
7
0.6086956521739131
0.6111111111111112
****************************************************************************************************
percentage of train data:  0.4822242479489517
91
78
322
207
11
7
0.6086956521739131
0.6111111111111112
****************************************************************************************************
percentage of train data:  0.4822242479489517
92
77
322
207
11
7
0.6086956521739131
0.6111111111111112
****************************************************************************************************
percentage of train data:  0.4822242479489517
93
76
322
207
11
7
0.6086956521739131
0.6111111111111112
****************************************************************************************************
percentage of train data:  0.4822242479489517
94
75
322
207
11
7
0.6086956521739131
0.6111111111111112
****************************************************************************************************
percentage of train data:  0.4822242479489517
95
74
322
207
11
7
0.6086956521739131
0.6111111111111112
****************************************************************************************************
percentage of train data:  0.4840474020054695
96
73
322
209
11
5
0.6064030131826742
0.6875
****************************************************************************************************
percentage of train data:  0.4840474020054695
97
72
322
209
11
5
0.6064030131826742
0.6875
****************************************************************************************************
percentage of train data:  0.4840474020054695
98
71
322
209
11
5
0.6064030131826742
0.6875
****************************************************************************************************
percentage of train data:  0.4840474020054695
99
70
322
209
11
5
0.6064030131826742
0.6875
****************************************************************************************************
percentage of train data:  0.4840474020054695
100
69
322
209
11
5
0.6064030131826742
0.6875
****************************************************************************************************
percentage of train data:  0.4840474020054695
101
68
322
209
11
5
0.6064030131826742
0.6875
****************************************************************************************************
percentage of train data:  0.4840474020054695
102
67
322
209
11
5
0.6064030131826742
0.6875
****************************************************************************************************
percentage of train data:  0.4840474020054695
103
66
322
209
11
5
0.6064030131826742
0.6875
****************************************************************************************************
percentage of train data:  0.4840474020054695
104
65
322
209
11
5
0.6064030131826742
0.6875
****************************************************************************************************
percentage of train data:  0.48495897903372837
105
64
322
210
11
4
0.6052631578947368
0.7333333333333333
****************************************************************************************************
percentage of train data:  0.48495897903372837
106
63
322
210
11
4
0.6052631578947368
0.7333333333333333
****************************************************************************************************
percentage of train data:  0.48587055606198726
107
62
323
210
10
4
0.6060037523452158
0.7142857142857143
****************************************************************************************************
percentage of train data:  0.48587055606198726
108
61
323
210
10
4
0.6060037523452158
0.7142857142857143
****************************************************************************************************
percentage of train data:  0.48587055606198726
109
60
323
210
10
4
0.6060037523452158
0.7142857142857143
****************************************************************************************************
percentage of train data:  0.48587055606198726
110
59
323
210
10
4
0.6060037523452158
0.7142857142857143
****************************************************************************************************
percentage of train data:  0.48587055606198726
111
58
323
210
10
4
0.6060037523452158
0.7142857142857143
****************************************************************************************************
percentage of train data:  0.48587055606198726
112
57
323
210
10
4
0.6060037523452158
0.7142857142857143
****************************************************************************************************
percentage of train data:  0.48587055606198726
113
56
323
210
10
4
0.6060037523452158
0.7142857142857143
****************************************************************************************************
percentage of train data:  0.48678213309024615
114
55
324
210
9
4
0.6067415730337079
0.6923076923076923
****************************************************************************************************
percentage of train data:  0.48678213309024615
115
54
324
210
9
4
0.6067415730337079
0.6923076923076923
****************************************************************************************************
percentage of train data:  0.487693710118505
116
53
324
211
9
3
0.6056074766355141
0.75
****************************************************************************************************
percentage of train data:  0.487693710118505
117
52
324
211
9
3
0.6056074766355141
0.75
****************************************************************************************************
percentage of train data:  0.487693710118505
118
51
324
211
9
3
0.6056074766355141
0.75
****************************************************************************************************
percentage of train data:  0.4886052871467639
119
50
324
212
9
2
0.6044776119402985
0.8181818181818182
****************************************************************************************************
percentage of train data:  0.4886052871467639
120
49
324
212
9
2
0.6044776119402985
0.8181818181818182
****************************************************************************************************
percentage of train data:  0.4886052871467639
121
48
324
212
9
2
0.6044776119402985
0.8181818181818182
****************************************************************************************************
percentage of train data:  0.4886052871467639
122
47
324
212
9
2
0.6044776119402985
0.8181818181818182
****************************************************************************************************
percentage of train data:  0.4886052871467639
123
46
324

212
9
2
0.6044776119402985
0.8181818181818182
****************************************************************************************************
percentage of train data:  0.4886052871467639
124
45
324
212
9
2
0.6044776119402985
0.8181818181818182
****************************************************************************************************
percentage of train data:  0.4886052871467639
125
44
324
212
9
2
0.6044776119402985
0.8181818181818182
****************************************************************************************************
percentage of train data:  0.4886052871467639
126
43
324
212
9
2
0.6044776119402985
0.8181818181818182
****************************************************************************************************
percentage of train data:  0.48951686417502277
127
42
325
212
8
2
0.6052141527001862
0.8
****************************************************************************************************
percentage of train data:  0.48951686417502277
128
41
325
212
8
2
0.6052141527001862
0.8
****************************************************************************************************
percentage of train data:  0.48951686417502277
129
40
325
212
8
2
0.6052141527001862
0.8
****************************************************************************************************
percentage of train data:  0.48951686417502277
130
39
325
212
8
2
0.6052141527001862
0.8
****************************************************************************************************
percentage of train data:  0.48951686417502277
131
38
325
212
8
2
0.6052141527001862
0.8
****************************************************************************************************
percentage of train data:  0.48951686417502277
132
37
325
212
8
2
0.6052141527001862
0.8
****************************************************************************************************
percentage of train data:  0.49042844120328166
133
36
326
212
7
2
0.6059479553903345
0.7777777777777778
****************************************************************************************************
percentage of train data:  0.49042844120328166
134
35
326
212
7
2
0.6059479553903345
0.7777777777777778
****************************************************************************************************
percentage of train data:  0.49042844120328166
135
34
326
212
7
2
0.6059479553903345
0.7777777777777778
****************************************************************************************************
percentage of train data:  0.49042844120328166
136
33
326
212
7
2
0.6059479553903345
0.7777777777777778
****************************************************************************************************
percentage of train data:  0.49042844120328166
137
32
326
212
7
2
0.6059479553903345
0.7777777777777778
****************************************************************************************************
percentage of train data:  0.49042844120328166
138
31
326
212
7
2
0.6059479553903345
0.7777777777777778
****************************************************************************************************
percentage of train data:  0.49042844120328166
139
30
326
212
7
2
0.6059479553903345
0.7777777777777778
****************************************************************************************************
percentage of train data:  0.49042844120328166
140
29
326
212
7
2
0.6059479553903345
0.7777777777777778
****************************************************************************************************
percentage of train data:  0.49042844120328166
141
28
326
212
7
2
0.6059479553903345
0.7777777777777778
****************************************************************************************************
percentage of train data:  0.49042844120328166
142
27
326
212
7
2
0.6059479553903345
0.7777777777777778
****************************************************************************************************
percentage of train data:  0.49042844120328166
143
26
326
212
7
2
0.6059479553903345
0.7777777777777778
****************************************************************************************************
percentage of train data:  0.49042844120328166
144
25
326
212
7
2
0.6059479553903345
0.7777777777777778
****************************************************************************************************
percentage of train data:  0.49042844120328166
145
24
326
212
7
2
0.6059479553903345
0.7777777777777778
****************************************************************************************************
percentage of train data:  0.49042844120328166
146
23
326
212
7
2
0.6059479553903345
0.7777777777777778
****************************************************************************************************
percentage of train data:  0.49042844120328166
147
22
326
212
7
2
0.6059479553903345
0.7777777777777778
****************************************************************************************************
percentage of train data:  0.49042844120328166
148
21
326
212
7
2
0.6059479553903345
0.7777777777777778
****************************************************************************************************
percentage of train data:  0.49134001823154055
149
20
326
213
7
1
0.6048237476808905
0.875
****************************************************************************************************
percentage of train data:  0.49225159525979945
150
19
327
213
6
1
0.6055555555555555
0.8571428571428571
****************************************************************************************************
percentage of train data:  0.49225159525979945
151
18
327
213
6
1
0.6055555555555555
0.8571428571428571
****************************************************************************************************
percentage of train data:  0.49316317228805834
152
17
328
213
5
1
0.6062846580406654
0.8333333333333334
****************************************************************************************************
percentage of train data:  0.49407474931631723
153
16
328
214
5
0
0.6051660516605166
1.0
****************************************************************************************************
percentage of train data:  0.49407474931631723
154
15
328
214
5
0
0.6051660516605166
1.0
****************************************************************************************************
percentage of train data:  0.4949863263445761
155
14
329
214
4
0
0.6058931860036832
1.0
****************************************************************************************************
percentage of train data:  0.4949863263445761
156
13
329
214
4
0
0.6058931860036832
1.0
****************************************************************************************************
percentage of train data:  0.4949863263445761
157
12
329
214
4
0
0.6058931860036832
1.0
****************************************************************************************************
percentage of train data:  0.4949863263445761
158
11
329
214
4
0
0.6058931860036832
1.0
****************************************************************************************************
percentage of train data:  0.4949863263445761
159
10
329
214
4
0
0.6058931860036832
1.0
****************************************************************************************************
percentage of train data:  0.4949863263445761
160
9
329
214
4
0
0.6058931860036832
1.0
****************************************************************************************************
percentage of train data:  0.4949863263445761
161
8
329
214
4
0
0.6058931860036832
1.0
****************************************************************************************************
percentage of train data:  0.4949863263445761
162
7
329
214
4
0
0.6058931860036832
1.0
****************************************************************************************************
percentage of train data:  0.4949863263445761
163
6
329
214
4
0
0.6058931860036832
1.0
****************************************************************************************************
percentage of train data:  0.4949863263445761
164
5
329
214
4
0
0.6058931860036832
1.0
****************************************************************************************************
percentage of train data:  0.495897903372835
165
4
330
214
3
0
0.6066176470588235
1.0
****************************************************************************************************
percentage of train data:  0.4977210574293528

166
3
332
214
1
0
0.608058608058608
1.0
****************************************************************************************************
percentage of train data:  0.4977210574293528
167
2
332
214
1
0
0.608058608058608
1.0
****************************************************************************************************
percentage of train data:  0.4986326344576117
168
1
333
214
0
0
0.6087751371115173
0
****************************************************************************************************
percentage of train data:  0.4986326344576117
169
0
333
214
0
0
0.6087751371115173
0
****************************************************************************************************

In [114]:
v1=116
v2=73

In [115]:
# train
R1=H1[:v1]
R2=H2[:v2]
R=pd.concat([R1,R2])
# test
S1=H1[v1:]
S2=H2[v2:]
S=pd.concat([S1,S2])

In [116]:
R1

     Post      Rate  Count
0       1  1.000000      1
136   137  1.000000      5
133   134  1.000000      3
250   251  1.000000      3
129   130  1.000000      2
..    ...       ...    ...
95     96  0.750000      4
83     84  0.750000      4
99    100  0.727273     11
18     19  0.727273     11
20     21  0.727273     11

[116 rows x 3 columns]

In [117]:
U1=sum(list(R1['Count']))
U2=sum(list(R2['Count']))
U3=sum(list(S1['Count']))
U4=sum(list(S2['Count']))
print(U1, U2, U3, U4)

433 436 117 111

In [118]:
# train thread#
RL=list(R['Post'].sort_values())
print(len(RL),RL)

189 [1, 3, 4, 5, 7, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 37, 38, 39, 41, 43, 44, 45, 46, 47, 51, 52, 53, 55, 56, 58, 60, 63, 64, 66, 68, 69, 73, 74, 77, 79, 81, 82, 84, 85, 88, 89, 90, 91, 92, 94, 96, 97, 98, 100, 101, 104, 105, 106, 108, 109, 111, 112, 113, 114, 115, 116, 117, 119, 120, 121, 122, 125, 126, 127, 129, 130, 132, 133, 134, 136, 137, 138, 139, 140, 143, 148, 149, 152, 153, 156, 160, 161, 163, 164, 166, 167, 169, 172, 173, 177, 178, 179, 182, 183, 186, 188, 189, 190, 191, 193, 194, 195, 196, 197, 198, 200, 203, 204, 206, 210, 212, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 230, 231, 232, 234, 238, 240, 243, 244, 245, 248, 249, 250, 251, 254, 255, 257, 258, 260, 261, 262, 263, 264, 266, 268, 271, 273, 275, 276, 277, 278, 279, 281, 282, 283, 287, 288, 289, 290, 293, 298, 299]

In [119]:
# test thread#
SL=list(S['Post'].sort_values())
print(len(SL),SL)

111 [2, 6, 8, 13, 35, 36, 40, 42, 48, 49, 50, 54, 57, 59, 61, 62, 65, 67, 70, 71, 72, 75, 76, 78, 80, 83, 86, 87, 93, 95, 99, 102, 103, 107, 110, 118, 123, 124, 128, 131, 135, 141, 142, 144, 145, 146, 147, 150, 151, 154, 155, 157, 158, 159, 162, 165, 168, 170, 171, 174, 175, 176, 180, 181, 184, 185, 187, 192, 199, 201, 202, 205, 207, 208, 209, 211, 213, 214, 215, 216, 229, 233, 235, 236, 237, 239, 241, 242, 246, 247, 252, 253, 256, 259, 265, 267, 269, 270, 272, 274, 280, 284, 285, 286, 291, 292, 294, 295, 296, 297, 300]

In [121]:
t=pd.DataFrame(H["Rate"].value_counts()).sort_index(ascending=False) 
t

          Rate
1.000000    78
0.888889     2
0.875000     1
0.857143     3
0.833333     1
0.800000     5
0.777778     3
0.769231     2
0.761905     1
0.750000    17
0.727273     4
0.722222     1
0.700000     1
0.692308     1
0.666667    22
0.652174     1
0.650000     1
0.642857     2
0.636364     2
0.625000     2
0.611111     1
0.600000     5
0.583333     1
0.571429     3
0.555556     1
0.500000    38
0.444444     1
0.428571     3
0.400000     1
0.375000     1
0.363636     1
0.333333     6
0.318182     1
0.285714     1
0.250000     3
0.200000     1
0.000000    82

In [122]:
y=pd.DataFrame(R["Rate"].value_counts()).sort_index(ascending=False)  
y

          Rate
1.000000    78
0.888889     2
0.875000     1
0.857143     3
0.833333     1
0.800000     5
0.777778     3
0.769231     2
0.761905     1
0.750000    17
0.727273     3
0.666667    11
0.652174     1
0.650000     1
0.642857     2
0.636364     2
0.625000     2
0.611111     1
0.600000     5
0.583333     1
0.571429     3
0.555556     1
0.500000    38
0.444444     1
0.428571     3
0.400000     1

In [123]:
u=pd.DataFrame(S["Rate"].value_counts()).sort_index(ascending=False)  
u

          Rate
0.727273     1
0.722222     1
0.700000     1
0.692308     1
0.666667    11
0.375000     1
0.363636     1
0.333333     6
0.318182     1
0.285714     1
0.250000     3
0.200000     1
0.000000    82

In [124]:
pd.concat([t,y,u], axis=1)

          Rate  Rate  Rate
1.000000    78  78.0   NaN
0.888889     2   2.0   NaN
0.875000     1   1.0   NaN
0.857143     3   3.0   NaN
0.833333     1   1.0   NaN
0.800000     5   5.0   NaN
0.777778     3   3.0   NaN
0.769231     2   2.0   NaN
0.761905     1   1.0   NaN
0.750000    17  17.0   NaN
0.727273     4   3.0   1.0
0.722222     1   NaN   1.0
0.700000     1   NaN   1.0
0.692308     1   NaN   1.0
0.666667    22  11.0  11.0
0.652174     1   1.0   NaN
0.650000     1   1.0   NaN
0.642857     2   2.0   NaN
0.636364     2   2.0   NaN
0.625000     2   2.0   NaN
0.611111     1   1.0   NaN
0.600000     5   5.0   NaN
0.583333     1   1.0   NaN
0.571429     3   3.0   NaN
0.555556     1   1.0   NaN
0.500000    38  38.0   NaN
0.444444     1   1.0   NaN
0.428571     3   3.0   NaN
0.400000     1   1.0   NaN
0.375000     1   NaN   1.0
0.363636     1   NaN   1.0
0.333333     6   NaN   6.0
0.318182     1   NaN   1.0
0.285714     1   NaN   1.0
0.250000     3   NaN   3.0
0.200000     1   NaN   1.0
0.000000    82   NaN  82.0

In [125]:
init1=0
for r in RL:
    W=gf[gf['Post']==r][['Label']]
    init1 += list(W['Label']).count('1')
init1

515

In [126]:
init2=0
for r in RL:
    W=gf[gf['Post']==r][['Label']]
    init2 += list(W['Label']).count('0')
init2

354

In [127]:
init3=0
for s in SL:
    W=gf[gf['Post']==s][['Label']]
    init3 += list(W['Label']).count('1')
init3

134

In [128]:
init4=0
for s in SL:
    W=gf[gf['Post']==s][['Label']]
    init4 += list(W['Label']).count('0')
init4

94